@import "src/assets/style/colors";

.cTextField, .cSelectField {
  > div {
    &:first-child {
      position: relative;
      width: 280px;
      height: 48px;
      border-bottom: 1px solid #121212;
      background-color: rgba(0, 0, 0, 0.06);
      display: flex;
      align-items: flex-end;
      padding: 8px 0 4px 0;
      cursor: text;
      margin-bottom: 5px;
      transition: all 250ms ease-in-out;

      &::after {
        content: "";
        height: 2px;
        background-color: $primary;
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        width: 0;
        margin: 0 auto;
        transition: all 100ms ease-in-out;
        cursor: text;
      }

      &.inputFocused {
        transition: all 250ms ease-in-out;

        &::after {
          transition: all 100ms ease-in-out;
          width: 100%;
        }
      }

      &.hasError {
        &::after {
          background-color: $error;
        }
      }

      label {
        position: absolute;
        left: 16px;
        top: 12px;
        cursor: text;
        transition: all 100ms ease-in-out;

        &.inputFocused {
          color: $primaryDark;
        }

        &.inputNotEmpty, &.inputFocused {
          top: -2px;
          font-size: 13px;
          transition: all 100ms ease-in-out;
        }

        &.hasError {
          color: $error;
        }
      }

      input {
        outline: none;
        border-radius: 0;
        padding: 0 12px 0 16px;
        width: 100%;
        cursor: text;

        &.inputFocused {
          caret-color: $primary;
        }

        &.hasError {
          caret-color: $error;
        }

        &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:active, &:-webkit-autofill:focus {
          border: none;
          -webkit-text-fill-color: black;
          -webkit-box-shadow: transparent;
          transition: background-color 5000s ease-in-out 0s;
          background-color: transparent;
        }
      }

      i {
        align-self: center;
        margin-right: 5px;
        cursor: pointer;
      }
    }

    &:last-child {
      font-size: 12px;
      height: 18px;
      overflow: hidden;
      transition: all 250ms ease-in-out;
      position: relative;
      top: -18px;
      margin-left: 16px;
      z-index: -1;

      &.hasError {
        color: $error;
      z-index: 1;
      }

      &.inputFocused, &.persistent, &.hasError {
        transition: all 250ms ease-in-out;
        top: 0;
      }
    }
  }
}
