@import "src/assets/style/colors";

.cRadioGroup, .cCheckboxGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.horizontale {
    flex-direction: row;

    > div:not(:first-of-type) {
      margin-left: 20px;
    }
  }

  > li {
    list-style: none;
    margin-bottom: 5px;
  }

  > div, > li {
    position: relative;
    cursor: pointer;

    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
    }

    i {
      margin-right: 10px;

      &.icon--selected {
        color: $primary;
      }
    }

    label {
      cursor: pointer;
    }

    &.radioSelected, &.checkboxSelected {
      > label {
        color: $primaryDark;
      }
    }
  }
}
