<template>
  <div class="cCheckboxGroup" :class="{horizontale}">
    <div
        v-for="item in items"
        :key="item"
        :class="{checkboxSelected: itemIsSelected(item)}"
        @click.stop="selectItem(item, 'div')"
    >
      <v-icon
          v-if="itemIsSelected(item)"
          @click.stop="selectItem(item, 'icon1')"
          class="icon--selected"
      >
        mdi-checkbox-marked-outline
      </v-icon>
      <v-icon v-else @click.stop="selectItem(item, 'icon2')">mdi-checkbox-blank-outline</v-icon>
      <label :for="item.id || item.value" @click.stop="selectItem(item, 'label')">{{ item.text }}</label>
      <input type="checkbox" :id="item.id || item.value" :name="item.id || item.value"/>
    </div>
  </div>
</template>

<script lang="ts">
import {defineComponent, PropType, ref, SetupContext, toRefs} from 'vue'
import {InputItemFormat} from '#/index';

export default defineComponent({
  name: 'CheckboxGroup',

  props: {
    horizontale: {
      required: false,
      type: Boolean as PropType<boolean>,
      default: false,
    },
    items: {
      required: true,
      type: Array as PropType<InputItemFormat[]>,
      default: () => ([]),
    },
    itemsSelected: {
      required: true,
      type: Array as PropType<InputItemFormat[]>,
      default: () => ([]),
    },
  },

  setup(props, {emit}: SetupContext) {
    const {itemsSelected} = toRefs(props)

    const itemIsSelected = ({value}: InputItemFormat): boolean => {
      return !!itemsSelected.value.find(item => item.value === value)
    }

    const selectItem = (item: InputItemFormat, type: string): void => {
      if (type !== 'label') {
        emit(
            'select',
            {
              index: itemsSelected.value.findIndex(itemSaved => itemSaved.value === item.value),
              item,
            },
        )
      }
    }

    return {
      itemIsSelected,
      selectItem,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "radioCheckStyle";
</style>
