<template>
  <svg viewBox="0 0 187.3 93.7" preserveAspectRatio="xMidYMid meet">
    <path
        stroke="#65eb68"
        fill="none"
        stroke-width="4"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-miterlimit="10"
        d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z"
    />
  </svg>
</template>

<script lang="ts">
import {defineComponent} from 'vue';

export default defineComponent({
  name: 'ProgressCircle',
})
</script>

<style lang="scss" scoped>
svg {
  width: 150px;
  height: 100px;
  $len: 242.776657104492px;
  $time: 1.6s;

  path:first-of-type {
    stroke-dasharray: $len*0.01, $len;
    stroke-dashoffset: 0;
    animation: anim $time linear infinite;
  }

  @keyframes anim {
    12.5% {
      stroke-dasharray: $len * 0.14, $len;
      stroke-dashoffset: -$len * 0.11;
    }
    43.75% {
      stroke-dasharray: $len * 0.35, $len;
      stroke-dashoffset: -$len * 0.35;
    }
    100% {
      stroke-dasharray: $len * 0.01, $len;
      stroke-dashoffset: -$len * 0.99;
    }
  }
}
</style>
