<template>
  <div :style="{width: size || '' }" :class="{ hasError }">
    <p role="definition" v-if="groupHasLabel" :id="`${name}-definition`">{{ label }}</p>
    <ul class="cRadioGroup" :aria-describedby="`${name}-definition`">
      <li
          v-for="item in itemsWithId"
          :key="item"
          :class="{ radioSelected: radioIsSelected(`${item.text}${item.id}`) }"
          :id="`${name}_${item.value}`"
          @click.capture="onSelectedRadio(item)"
      >
        <input
            type="radio"
            :id="`${item.value}${item.id}`"
            :name="name"
            :value="item.value"
        >
        <v-icon v-if="radioIsSelected(`${item.text}${item.id}`)" class="icon--selected">
          mdi-radiobox-marked
        </v-icon>
        <v-icon v-else>mdi-radiobox-blank</v-icon>
        <label :for="`${item.value}${item.id}`">{{ item.text }}</label>

        <div v-if="childSelected(item)" class="shift-1">
          <RadioGroup
              :items="item.children"
              :model-value="childValue"
              :name="`sub_${name}`"
              @update:model-value="onChangeChildRadioSelected"
          />
        </div>
      </li>
    </ul>
    <div role="alert" :class="{ hasError }">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import {computed, defineComponent, PropType, ref, SetupContext, toRefs} from 'vue';
import {InputItemFormat} from '#/index';

interface PropsComponent {
  items: InputItemFormat[];
  name: string;
  modelValue: string;
}

export default defineComponent({
  name: 'RadioGroup',

  props: {
    hasError: {
      required: false,
      type: Boolean as PropType<boolean>,
      default: false,
    },
    errorMessage: {
      required: false,
      type: String as PropType<string>,
      default: '',
    },
    items: {
      required: true,
      type: Array as PropType<InputItemFormat[]>,
      default: () => ([]),
    },
    label: {
      required: false,
      type: String as PropType<string>,
      default: '',
    },
    name: {
      required: true,
      type: String as PropType<string>,
    },
    modelValue: {
      required: false,
      type: String as PropType<string>,
      default: '',
    },
    size: {
      required: false,
      type: String as PropType<string>,
      default: '',
    },
  },

  setup(props: PropsComponent, {emit}: SetupContext) {
    const {items, modelValue, label} = toRefs(props)
    const idRadioSelected = ref<undefined | string>(undefined)
    const idRandom = (): number => Math.floor(Math.random() * (999 - 100 + 1) + 100)
    const itemsWithId: InputItemFormat[] = items.value.map((item: InputItemFormat) => ({...item, id: `${idRandom()}`}))

    const radioIsSelected = (idRadio: string): boolean => idRadio === idRadioSelected.value
    const onSelectedRadio = ({text, id, value}: InputItemFormat): void => {
      idRadioSelected.value = text + id
      emit('update:modelValue', value)
    }

    const childValue = ref<undefined | string>('')
    const childSelected = ({children, value}: InputItemFormat): boolean => {
      return !!children && modelValue.value.split(' - ')[0] === value
    }

    const onChangeChildRadioSelected = (newValue: string): void => {
      emit('update:modelValue', `${modelValue.value} - ${newValue}`)
    }

    const groupHasLabel = computed(() => label.value !== '')

    return {
      childSelected,
      childValue,
      groupHasLabel,
      itemsWithId,
      onChangeChildRadioSelected,
      onSelectedRadio,
      radioIsSelected,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "radioCheckStyle";
@import "src/assets/style/colors";

.hasError {
  color: $error;
}

div {
  margin-bottom: 15px;

  p {
    margin-bottom: 5px;
    font-size: 18px;
  }

  ul {
    margin-left: 10px;
  }
}

div[role=alert] {
  height: 18px;

  &.hasError {
    p {
      color: $error;
    }
  }

  &.persistent, &.hasError {
    p {
      transition: all 250ms ease-in-out;
      height: 18px;
    }
  }

  > p {
    font-size: 12px;
    height: 0;
    overflow: hidden;
    transition: all 250ms ease-in-out;
    margin: 0 0 0 16px;
  }
}

.shift-1 {
  margin-left: 20px;
}
</style>
