<template>
  <div class="cSelectField" :style="{width: size || '' }">
    <div
        :class="{ inputFocused, inputNotEmpty: valueNotEmpty, hasError}"
        :style="{width: size || '' }"
        @click="onOpenSelectMenu"
    >
      <label
          :for="id"
          @click.stop="onOpenSelectMenu"
          :class="{ inputFocused, inputNotEmpty: valueNotEmpty, hasError}"
      >
        {{ label }}
      </label>

      <div :class="{inputFocused}">
        <input
            type="text"
            :value="valueSelected"
            :id="id"
            :name="id"
            :class="{inputFocused}"
            ref="inputElement"
            @focus.stop="onOpenSelectMenu"
            @input="onSelectItem({value: $event.target.value, text: ''})"
        />
        <v-icon @click.stop="onOpenSelectMenu">mdi-menu-up</v-icon>
      </div>

      <div :class="{inputFocused: selectOpened, toTop: openToTop}" ref="selectMenuContent">
        <div @click.stop="onCloseSelectMenu"></div>
        <ul class="elevation-2" role="listbox">
          <li
              v-for="item in items"
              :key="item"
              @click.stop="onSelectItem(item)"
              role="option"
              :id="`${id}-${item.text}`"
          >
            <v-btn variant="text">{{ item.text }}</v-btn>
          </li>
        </ul>
      </div>
    </div>
    <div :class="{inputFocused, persistent: messagePersistent, hasError}">
      {{ message }}
    </div>
  </div>
</template>

<script lang="ts">
import {computed, defineComponent, nextTick, PropType, ref, SetupContext, toRefs} from 'vue'
import {InputItemFormat} from '#/index';

export default defineComponent({
  name: 'SelectField',

  props: {
    hasError: {
      required: false,
      type: Boolean as PropType<boolean>,
      default: false,
    },
    id: {
      required: true,
      type: String as PropType<string>,
    },
    items: {
      required: true,
      type: Array as PropType<InputItemFormat[]>,
    },
    label: {
      required: true,
      type: String as PropType<string>,
    },
    message: {
      required: false,
      type: String as PropType<string>,
      default: '',
    },
    messagePersistent: {
      required: false,
      type: Boolean as PropType<boolean>,
      default: false,
    },
    modelValue: {
      required: true,
      type: [String, Number, null] as PropType<null | number | string>,
      default: '',
    },
    size: {
      required: false,
      type: String as PropType<string>,
      default: '',
    },
  },

  setup(props, {emit}: SetupContext) {
    const {modelValue, items} = toRefs(props)
    const inputElement = ref<HTMLInputElement | null>(null)
    const inputFocused = ref<boolean>(false)
    const selectOpened = ref<boolean>(false)
    const selectMenuContent = ref<HTMLDivElement | undefined>(undefined)
    const openToTop = ref<boolean>(false)

    const valueNotEmpty = computed<boolean>((): boolean => {
      return modelValue.value !== '' && modelValue.value !== null
    })

    const onOpenSelectMenu = (): void => {
      openToTop.value = false
      if (inputElement.value) {
        inputElement.value.blur()
      }
      inputFocused.value = true
      selectOpened.value = true
      nextTick()
          .then(() => {
            if (selectMenuContent.value) {
              const {top, height} = selectMenuContent.value.getBoundingClientRect()
              if (top && height) {
                openToTop.value = top + height > window.innerHeight
              }
            }
          })
    }

    const onCloseSelectMenu = (): void => {
      inputFocused.value = false
      selectOpened.value = false
    }

    const onSelectItem = ({value}: InputItemFormat): void => {
      emit('update:modelValue', value)
      onCloseSelectMenu()
    }

    const valueSelected = computed(() => {
      const itemSelected: InputItemFormat | undefined = items.value.find((item: InputItemFormat) => {
        return item.value === modelValue.value
      })

      if (itemSelected) {
        return itemSelected.text
      }

      return undefined
    })

    return {
      inputElement,
      inputFocused,
      onCloseSelectMenu,
      onOpenSelectMenu,
      onSelectItem,
      openToTop,
      selectMenuContent,
      selectOpened,
      valueNotEmpty,
      valueSelected,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "fieldsStyle";

.cSelectField {
  > div:first-child {
    cursor: pointer;

    label, input {
      cursor: pointer;
    }

    > div {
      &:first-of-type {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        cursor: pointer;

        &.inputFocused {
          i {
            transform: rotate(180deg);
            transition: all 100ms ease-in-out;
            color: $primary;
          }
        }

        i {
          align-self: center;
          transform-origin: 50% 50%;
          transform: rotate(0deg);
          transition: all 100ms ease-in-out;
        }
      }


      &:last-of-type {
        display: none;
        background-color: white;
        position: absolute;
        top: 48px;
        left: 0;
        right: 0;

        &.inputFocused {
          display: block;
          z-index: 500;
        }

        &.toTop {
          top: auto;
          bottom: 50px;
        }

        > div:first-of-type {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: transparent;
          z-index: 501;
          cursor: default;
        }

        > .elevation-2 {
          z-index: 502;
          max-height: 200px;
          overflow-y: auto;
          position: relative;

          /* width */
          &::-webkit-scrollbar {
            width: 10px;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            background: #f1f1f1;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: $primary;
          }

          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
            background: $primaryDark;
          }

          li {
            button {
              box-sizing: border-box;
              height: 48px;
              padding: 8px 16px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
</style>
