<template>
  <div class="switch" :style="{width: size || '' }">
    <div>
      <svg viewBox="0 0 38 24" :class="{active: modelValue, hasError}" @click="onSwitch" ref="svgContainer">
        <path d="M9,4 h20 a8,8 0 0 1 0,16 h-20 a8,8 0 0 1 0,-16"/>
        <circle r="12" cx="12" cy="12" ref="circle"/>
      </svg>
      <input type="checkbox" role="switch" :aria-checked="modelValue" :checked="modelValue" :id="id"/>
    </div>

    <label :for="id" @click="onSwitch" :class="{ hasError }">
      <slot name="label">
        {{ label }}
      </slot>
    </label>

    <div
        :class="{persistent: messagePersistent, hasError}"
        :id="`err_${id}`"
        role="alert"
    >
      <p>{{ message }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import {defineComponent, onMounted, PropType, ref, SetupContext, toRefs} from 'vue'

interface DataProps {
  id: string;
  label: string;
  modelValue: boolean;
  size: string;
}

export default defineComponent({
  name: 'SwitchChoice',

  props: {
    hasError: {
      required: false,
      type: Boolean,
      default: false,
    },
    id: {
      required: true,
      type: String as PropType<string>,
    },
    label: {
      required: false,
      type: String as PropType<string>,
      default: '',
    },
    message: {
      required: false,
      type: String,
      default: '',
    },
    messagePersistent: {
      required: false,
      type: Boolean,
      default: false,
    },
    modelValue: {
      required: false,
      type: Boolean as PropType<boolean>,
      default: '',
    },
    size: {
      required: false,
      type: String as PropType<string>,
      default: '',
    },
  },

  setup(props: DataProps, {emit}: SetupContext) {
    const {modelValue} = toRefs(props)
    const circle = ref<SVGCircleElement | undefined>(undefined)
    const svgContainer = ref<SVGElement | undefined>(undefined)

    onMounted(() => {
      if (circle.value) {
        modelValue.value
            ? circle.value.setAttribute('transform', 'translate(14)')
            : circle.value.setAttribute('transform', 'translate(0)')
      }
    })

    const onSwitch = (): void => {
      if (circle.value && svgContainer.value) {
        svgContainer.value.classList.toggle('active')

        if (svgContainer.value.classList.contains('active')) {
          circle.value.setAttribute('transform', 'translate(14)')
          emit('update:model-value', true)
        } else {
          circle.value.setAttribute('transform', 'translate(0)')
          emit('update:model-value', false)
        }
      }
    }

    return {
      circle,
      onSwitch,
      svgContainer,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "src/assets/style/colors";

.switch {
  align-items: center;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 38px 1fr;

  > div {
    position: relative;
    height: 24px;

    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
    }

    svg {
      width: 38px;
      height: 24px;
      cursor: pointer;

      circle {
        transition: all 100ms ease-in-out;
        fill: white;
      }

      path {
        transition: all 100ms ease-in-out;
        opacity: 0.38;
        fill: black;
      }

      &.active {
        circle {
          fill: $primary;
        }

        path {
          fill: $primary;
        }
      }

      &.hasError {
        circle {
          fill: $error;
        }

        path {
          fill: $error;
        }
      }
    }
  }

  label {
    cursor: pointer;
    margin-left: 15px;
    justify-self: flex-start;

    &.hasError {
      color: $error;
    }
  }

  > div:last-child {
    height: 18px;
    grid-column: 1/3;

    &.hasError {
      p {
        color: $error;
      }
    }

    &.persistent, &.hasError {
      p {
        transition: all 250ms ease-in-out;
        height: 18px;
      }
    }

    p {
      font-size: 12px;
      margin: 0 0 0 16px;
      height: 0;
      overflow: hidden;
      transition: all 250ms ease-in-out;
    }
  }
}
</style>
