<template>
  <div class="cTextField" :style="{width: size || '' }">
    <div
        :class="{ inputFocused, inputNotEmpty: valueNotEmpty, hasError}"
        :style="{width: size || '' }"
        @click="onFocusInput"
    >
      <label
          :for="id"
          @click="onFocusInput"
          :class="{ inputFocused, inputNotEmpty: valueNotEmpty, hasError}"
      >
        {{ label }}
      </label>

      <input
          :value="modelValue"
          :type="type"
          :id="id"
          :name="id"
          :class="{inputFocused}"
          :autocomplete="autocomplete ? 'on' : 'off'"
          :aria-invalid="hasError"
          :aria-describedby="hasError ? `err_${id}` : ''"
          :step="step"
          ref="inputElement"
          @input="onInput"
          @focus="inputFocused = true"
          @blur="onBlur"
      />
      <v-icon v-if="appendIcon && !clearable" @click.stop="onPrependClick">
        {{ appendIcon }}
      </v-icon>
      <v-icon v-if="clearable && valueNotEmpty" @click.stop="onClear">
        mdi-close
      </v-icon>
    </div>
    <div
        :class="{inputFocused, persistent: messagePersistent, hasError: hasError}"
        :id="`err_${id}`"
        role="alert"
    >
      {{ message }}
    </div>
  </div>
</template>

<script lang="ts">
import {computed, defineComponent, PropType, ref, SetupContext, toRefs} from 'vue';
import {useI18n} from 'vue-i18n';

export default defineComponent({
  name: 'TextField',

  props: {
    autocomplete: {
      required: false,
      type: Boolean as PropType<boolean>,
      default: true,
    },
    appendIcon: {
      required: false,
      type: String as PropType<string>,
      default: '',
    },
    clearable: {
      required: false,
      type: Boolean as PropType<boolean>,
      default: false,
    },
    hasError: {
      required: false,
      type: Boolean as PropType<boolean>,
      default: false,
    },
    id: {
      required: true,
      type: String as PropType<string>,
    },
    label: {
      required: true,
      type: String as PropType<string>,
    },
    message: {
      required: false,
      type: String as PropType<string>,
      default: '',
    },
    messagePersistent: {
      required: false,
      type: Boolean as PropType<boolean>,
      default: false,
    },
    modelValue: {
      required: true,
      type: [String, Number, null] as PropType<null | number | string>,
    },
    size: {
      required: false,
      type: String as PropType<string>,
      default: '',
    },
    step: {
      required: false,
      type: Number as PropType<number>,
      default: 1,
    },
    type: {
      required: false,
      type: String,
      default: 'text',
    },
  },

  setup(props, {emit}: SetupContext) {
    const {modelValue, type} = toRefs(props)
    const {t} = useI18n()
    const inputElement = ref<HTMLInputElement | null>(null)
    const inputFocused = ref<boolean>(false)

    /**
     * The input focused when the user click on the div or on the label.
     */
    const onFocusInput = (): void => {
      if (inputElement.value) {
        inputElement.value.focus()
      }
    }

    const valueNotEmpty = computed<boolean>((): boolean => {
      return modelValue.value !== '' && modelValue.value !== 0 && modelValue.value !== null
    })

    const onBlur = () => {
      inputFocused.value = false
      emit('blur', modelValue.value)
    }

    const onPrependClick = (): void => {
      emit('click:prepend')
    }

    const onClear = (): void => {
      emit('update:modelValue', '')
      emit('clear')
    }

    const onInput = (event: InputEvent): void => {
      const target = <HTMLInputElement>event.target
      const value = type.value === 'number' && target?.value !== '' ? parseInt(`${target?.value}`) : target?.value

      if (typeof value === 'number' && isNaN(value)) {
        emit('update:hasError', true)
        emit('update:message', t('core.textField.error.numberRequired'))
      } else {
        emit('update:hasError', false)
        emit('update:message', '')
      }
      emit('update:modelValue', value)
    }

    return {
      inputElement,
      inputFocused,
      onBlur,
      onClear,
      onFocusInput,
      onInput,
      onPrependClick,
      valueNotEmpty,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "fieldsStyle";
</style>
