$primary: #eb8e46;
$primaryDark: #b46017;
$primaryLight: #ffbf74;
$primary10: rgba(235, 142, 70, .1);
$primary30: rgba(235, 142, 70, .3);
$secondary: #65eb68;
$secondaryDark: #22b838;
$secondaryLight: #9cff99;
$secondaryText: #006109;

$greyLight: #f0f5f0;
$grey: #dce6dc;
$greyDark: #c8d7c8;

$greyError: #e3d9d9;
$greySuccess: #dbe5da;

$black05: rgba(0, 0, 0, 0.05);

$success: #8afa7c;
$warning: #d6c65e;
$error: #b50c09;
$info: #865ff5;

$text: rgba(0, 0, 0, 0.9);
