<template>
  <v-btn icon color="primary" :to="{ name: 'Home' }">
    <v-icon>mdi-home</v-icon>
  </v-btn>
</template>

<script>
export default {
  name: 'HomeButton',
}
</script>

<style lang="scss" scoped>
a {
  z-index: 500;
  position: fixed;
  bottom: 20px;
  left: 20px;
}
</style>
