@import "src/assets/style/colors";
@import "src/assets/style/sizes";

section {
  > header {
    > h1 {
      text-align: center;
      text-transform: uppercase;
      color: $secondaryText;
      font-weight: 500;
      margin: 20px 0;

      @media all and (min-width: $sm) {
        text-align: left;
      }
    }
  }
}
