<template>
  <ActionContainer type="vegetableForm">
    <VegetableForm v-if="vegetableIsSelected"/>
  </ActionContainer>

  <main :style="{height: `${size}px`}">
    <SmartphoneNav/>
    <AppNav/>
    <DashboardNav/>
    <section>
      <router-view/>
    </section>
  </main>
</template>

<script lang="ts">
import DashboardNav from '@/components/App/DashboardNav.vue'
import {computed, defineComponent, onMounted, ref} from 'vue'
import AppNav from '@/components/App/AppNav.vue';
import ActionContainer from '@/components/App/ActionContainer.vue';
import VegetableForm from '@/components/App/VegetableForm.vue';
import {useStore} from 'vuex';
import SmartphoneNav from '@/components/App/SmartphoneNav.vue';
import SecurityService from '@/services/SecurityService';

export default defineComponent({
  name: 'AppTemplate',

  components: {SmartphoneNav, VegetableForm, ActionContainer, AppNav, DashboardNav},

  setup() {
    const store = useStore()
    const size = ref<number>(window.innerHeight)

    onMounted(() => {
      if (store.getters.me === null) SecurityService.loadMe()
    })

    window.addEventListener('resize', () => {
      size.value = window.innerHeight
    })

    return {
      size,
      vegetableIsSelected: computed(() => store.getters.vegetableIsSelected),
    }
  },
})
</script>

<style lang="scss" scoped>
@import "../../assets/style/colors";
@import "../../assets/style/sizes";

main {
  display: grid;
  width: 100%;
  position: absolute;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 56px;
  grid-template-areas: "section" "nav";

  @media all and (min-width: $sm) {
    grid-template-columns: 75px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "header header" "nav section";
    height: 100vh;
  }

  #SmartphoneNav {
    grid-area: nav;
  }

  .app__nav {
    grid-area: header;
    z-index: 9;
  }

  > nav {
    background-color: white;
    grid-area: nav;
    z-index: 10;
  }

  > section {
    background-color: $greyLight;
    grid-area: section;
    width: 100%;
    z-index: 1;
    overflow-y: auto;
    display: flex;
    justify-content: center;

    @media all and (min-width: $md) {
      padding: 100px;
    }
  }
}
</style>

<style>
html {
  overflow-y : hidden;

  body {
    overflow-y : hidden;
  }
}
</style>

