<template>
  <section id="data">
    <h1>Mes données</h1>

    <CheckboxGroup
        :items-selected="vegetablesSelected"
        @select="onChangeVegetablesSelected"
        :items="vegetablesList"
        :horizontale="true"
    />
    <DataChart :data="dataSelected" :key="key"/>
  </section>
</template>

<script lang="ts">
import {computed, defineComponent, onMounted, ref} from 'vue'
import DataChart from '@/components/App/DataChart.vue';
import CheckboxGroup from '@/components/Core/CheckboxGroup.vue';
import {InputItemFormat} from '#/index';
import CoreService from '@/services/CoreService';
import HarvestService from '@/services/HarvestService';
import {ChartData} from '#/Map';

export default defineComponent({
  name: 'Data',

  components: {CheckboxGroup, DataChart},

  setup() {
    const {uuidGenerate} = CoreService
    const vegetablesSelected = ref<InputItemFormat[]>([])
    const key = ref<string>(uuidGenerate())

    const onChangeVegetablesSelected = ({index, item}: { index: number, item: InputItemFormat }): void => {
      index === -1
          ? vegetablesSelected.value.push(item)
          : vegetablesSelected.value.splice(index, 1)

      key.value = uuidGenerate()
    }

    const data = ref<ChartData[]>([
      {
        category: 'Carotte',
        y1: 40,
        y2: 55,
        y3: 60,
      },
      {
        category: 'Poireau',
        y1: 30,
        y2: 78,
        y3: 69,
      },
      {
        category: 'Aubergine',
        y1: 27,
        y2: 40,
        y3: 45,
      },
      {
        category: 'Tomate',
        y1: 50,
        y2: 33,
        y3: 22,
      },
      {
        category: 'Pomme de terre',
        y1: 62,
        y2: 74,
        y3: 2,
      },
      {
        category: 'Betterave',
        y1: 62,
        y2: 74,
        y3: 2,
      },
      {
        category: 'Panais',
        y1: 62,
        y2: 74,
        y3: 2,
      },
      {
        category: 'Courge',
        y1: 62,
        y2: 74,
        y3: 2,
      },
      {
        category: 'Courgette',
        y1: 62,
        y2: 74,
        y3: 2,
      },
    ])

    onMounted(() => {
      HarvestService.loadMyHarvests()
                    .then((dataLoaded: ChartData[]) => {
                      data.value = dataLoaded
                    })
    })

    const dataSelected = computed<ChartData[]>(() => {
      return data.value.filter(item => {
        return vegetablesSelected.value.map<string>(vegetable => vegetable.value)
                                 .includes(item.category)
      })
    })

    const vegetablesList = computed<InputItemFormat[]>(() => {
      return data.value.map(item => ({text: item.category, value: item.category, id: item.category}))
    })

    return {
      dataSelected,
      key,
      onChangeVegetablesSelected,
      vegetablesList,
      vegetablesSelected,
    }
  },
})
</script>
