<template>
  <section id="neighbors">
    <h1>{{ $t('neighbors.title') }}</h1>

    <section>
      <div>
        <LMap
            :min-zoom="10"
            :max-zoom="19"
            v-model:zoom="zoom"
            :center="hasMarker ? coordinatesSelected : [48.573406, 7.752111]"
        >
          <LTileLayer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"/>
          <LCircle
              v-if="hasMarker"
              :lat-lng="coordinatesSelected"
              :radius="1000"
              color="#22b838"
              :fill="true"
              fill-color="#65eb68"
              :fill-opacity="0.1"
              fill-rule="evenodd"
          />
          <LMarker
              v-for="neighbor in neighbors"
              :key="neighbor"
              :lat-lng="[neighbor.locations[0].lat, neighbor.locations[0].lng]"
          >
            <LIcon icon-url="/img/marker.svg" :icon-size="[75, 75]" :icon-anchor="[37.5, 65]"/>
          </LMarker>
        </LMap>
      </div>

      <ProgressCircle v-if="loading"/>
      <div v-if="loaded">
        <p
            v-for="(coordinate, index) in myAddresses"
            :key="coordinate"
            @click="onSelectCoordinate(coordinate, `coordinateItem${index}`)"
            :id="`coordinateItem${index}`"
            :class="{selected: coordinatesSelected[2] === `coordinateItem${index}`}"
        >
          {{ coordinate.name }}
        </p>
      </div>
    </section>
  </section>
</template>

<script lang="ts">
import {computed, defineComponent, onMounted, ref, watch} from 'vue'
import {LCircle, LIcon, LMap, LMarker, LTileLayer} from '@vue-leaflet/vue-leaflet';
import {useStore} from 'vuex';
import {UserStrapi} from '#/Security';
import {Coordinates} from '#/Map';
import MapService from '@/services/MapService';
import 'leaflet/dist/leaflet.css';
import ProgressCircle from '@/components/Core/ProgressCircle.vue';

export default defineComponent({
  name: 'Neighbors',

  components: {
    ProgressCircle,
    LMap,
    LTileLayer,
    LCircle,
    LMarker,
    LIcon,
    Map,
  },

  setup() {
    const zoom = ref<number>(15)

    const store = useStore()
    const me = computed<UserStrapi | null>(() => store.getters.me)
    const myCoordinates = computed<Coordinates[] | undefined>(() => me.value ? me.value.location : undefined)

    const coordinatesSelected = ref<(number | string)[]>([])
    const hasMarker = computed(() => !!coordinatesSelected.value.length)

    const neighbors = ref<UserStrapi[]>([])

    const loading = ref<boolean>(false)
    const loaded = ref<boolean>(false)

    const myAddresses = ref<{ lat: number, lng: number, name: string }[]>([])

    const loadAddresses = async (): Promise<void> => {
      loaded.value = false
      loading.value = true
      myAddresses.value.splice(0, myAddresses.value.length)

      if (myCoordinates.value === undefined) return

      for (const {lat, lng} of myCoordinates.value) {
        const {data: {display_name}} = await MapService.getAddress(lat, lng)
        myAddresses.value.push({lat, lng, name: display_name})
      }

      loaded.value = true
      loading.value = false
    }

    watch(me, loadAddresses)

    onMounted(loadAddresses)

    const onSelectCoordinate = (coordinates: Coordinates, id: string): void => {
      coordinatesSelected.value.splice(0, coordinatesSelected.value.length)
      MapService.getNeighbors(coordinates)
                .then((users) => {
                  neighbors.value.splice(0, neighbors.value.length)
                  users.forEach((user) => {
                    neighbors.value.push(user)
                  })

                  coordinatesSelected.value.push(coordinates.lat)
                  coordinatesSelected.value.push(coordinates.lng)
                  coordinatesSelected.value.push(id)
                })
    }

    return {
      coordinatesSelected,
      hasMarker,
      loaded,
      loading,
      myAddresses,
      myCoordinates,
      neighbors,
      onSelectCoordinate,
      zoom,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "src/assets/style/colors";

#neighbors {
  > section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 15px;
    width: 50vw;

    > div {
      &:first-of-type {
        height: 50vh;
        width: 100%;
        margin-bottom: 20px;
      }

      &:last-of-type {
        p {
          border: 1px solid $primary;
          padding: 15px;
          margin-bottom: 15px;
          cursor: pointer;
          border-radius: 5px;

          &.selected {
            background-color: $primary30;
          }
        }
      }
    }
  }
}
</style>
