<template>
  <section id="profile">
    <h1>Profile</h1>
  </section>
</template>

<script lang="ts">
import {defineComponent} from 'vue';

export default defineComponent({
  name: 'Profile',
})
</script>

<style lang="scss" scoped>

</style>
