<template>
  <section id="vegetables">
    <header>
      <h1>{{ $t('template.dashboard.links.vegetables') }}</h1>
    </header>

    <section>
      <TextField
          id="vegetableSearch"
          type="text"
          :label="$t('template.dashboard.links.search')"
          size="100%"
          append-icon="mdi-search"
          v-model="search"
      />
    </section>

    <section v-if="hasFavorites">
      <h2>{{ $t('template.dashboard.links.favorites') }}</h2>
      <VegetableVignette
          v-for="vegetable in favorites"
          :key="vegetable"
          :vegetable="vegetable"
          :ref="`vignette-${vegetable.id}`"
          @click="onSelectVegetable(vegetable)"
      />
    </section>

    <section v-if="hasOther">
      <h2>{{ $t('template.dashboard.links.other') }}</h2>
      <VegetableVignette
          v-for="vegetable in vegetables"
          :key="vegetable"
          :vegetable="vegetable"
          :ref="`vignette-${vegetable.id}`"
          @click="onSelectVegetable(vegetable)"
      />
    </section>
  </section>
</template>

<script lang="ts">
import {computed, defineComponent, onMounted, ref} from 'vue';
import VegetableService from '@/services/VegetableService';
import VegetableVignette from '@/components/App/VegetableVignette.vue';
import {useStore} from 'vuex';
import TextField from '@/components/Core/TextField.vue';
import {Vegetable} from '#/Vegetable';
import ActionContainer from '@/components/App/ActionContainer.vue';

export default defineComponent({
  name: 'Vegetables',

  components: {ActionContainer, TextField, VegetableVignette},

  setup() {
    const store = useStore()
    const search = ref<string>('')
    const vegetables = computed<Vegetable[]>(() => store.getters.vegetables.filter((vegetable: Vegetable) => {
          return vegetable.name.toLocaleLowerCase().includes(search.value.toLocaleLowerCase()) &&
              !store.getters.favoriteVegetables.includes(vegetable.id)
        }),
    )
    const favorites = computed<Vegetable[]>(() => store.getters.vegetables.filter((vegetable: Vegetable) => {
          return vegetable.name.toLocaleLowerCase().includes(search.value.toLocaleLowerCase()) &&
              store.getters.favoriteVegetables.includes(vegetable.id)
        }),
    )

    onMounted(() => {
      VegetableService.loadAllVegetables()
      VegetableService.loadFavoritesVegetables()
    })

    const onSelectVegetable = (vegetable: Vegetable): void => {
      store.dispatch('selectVegetable', vegetable)
    }

    const hasFavorites = computed<boolean>(() => !!favorites.value.length)
    const hasOther = computed<boolean>(() => favorites.value.length !== vegetables.value.length)

    return {
      favorites,
      hasFavorites,
      hasOther,
      onSelectVegetable,
      search,
      vegetables,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "style";
@import "src/assets/style/sizes";

#vegetables {
  > header {
    min-width: 400px;
  }

  > section:nth-child(3), > section:nth-child(4) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    h2 {
      justify-self: flex-start;
      grid-column: 1/3;
    }

    @media all and (min-width: $sm) {
      grid-template-columns: repeat(2, 1fr);

      h2 {
        grid-column: 1/3;
      }
    }

    @media all and (min-width: $md) {
      grid-template-columns: repeat(3, 1fr);

      h2 {
        grid-column: 1/4;
      }
    }

    @media all and (min-width: $lg) {
      grid-template-columns: repeat(5, 1fr);

      h2 {
        grid-column: 1/6;
      }
    }
  }
}
</style>
