<template>
  <section id="signup_page">
    <header>
      <img src="/img/logo.svg" :alt="$t('core.img.logo')"/>

      <h2>{{ $t('security.signup.welcome') }}</h2>

      <h1>{{ $t('security.signup.title') }}</h1>
    </header>

    <section>
      <hr/>
      <h2>{{ $t('security.signup.parts.authentication') }}</h2>
      <Email
          v-model:email="email"
          v-model:has-error="emailHasError"
          :form-submitted="formSubmitted"
      />
      <Passwords
          v-model:password="password"
          v-model:has-error="passwordHasError"
          :form-submitted="formSubmitted"
      />

      <hr/>
      <h2>{{ $t('security.signup.parts.introduceMyself') }}</h2>
      <Gender v-model:gender="gender" :form-submitted="formSubmitted" v-model:has-error="genderHasError"/>
      <BirthdayYear v-model:birthday-year="birthdayYear"/>
      <Job v-model:job="job"/>
      <ProductionActivity
          v-model:professional-job="professionalJob"
          :form-submitted="formSubmitted"
          v-model:has-error="professionalJobHasError"
      />

      <hr/>
      <h2>{{ $t('security.signup.parts.myGarden') }}</h2>
      <LocationText v-model:location="location"/>
      <ProductionType v-model:production-type="productionType"/>
      <Map v-model:coordinates="coordinates"/>


      <hr/>
      <h2>{{ $t('security.signup.parts.authorization') }}</h2>
      <SwitchChoice
          :label="$t('security.signup.authorizations.production')"
          id="productionShared"
          size="100%"
          v-model="productionShared"
      />
      <SwitchChoice
          :label="$t('security.signup.authorizations.location')"
          id="locationShared"
          size="100%"
          v-model="locationShared"
      />
      <SwitchChoice
          id="generalTermsOfUse"
          size="100%"
          v-model="generalTermsOfUse"
          :message="$t('security.signup.generalTermsOfUseError')"
          :has-error="generalTermsOfUseHasError"
      >
        <template v-slot:label>
          {{ $t('security.signup.authorizations.generalTermsOfUse.text') }}
          <router-link :to="{name: 'Home'}" target="_blank" @click.stop>
            {{ $t('security.signup.authorizations.generalTermsOfUse.link') }}
          </router-link>
          {{ $t('security.signup.authorizations.generalTermsOfUse.end') }}
        </template>
      </SwitchChoice>

      <v-btn ref="submitButton" color="primary" @click="onSubmit">
        {{ $t('security.signup.button') }}
      </v-btn>
    </section>

    <home-button/>
  </section>
</template>

<script lang="ts">
import {computed, defineComponent, inject, provide, ref} from 'vue';
import CheckboxGroup from '@/components/Core/CheckboxGroup.vue';
import RadioGroup from '@/components/Core/RadioGroup.vue';
import TextField from '@/components/Core/TextField.vue';
import SelectField from '@/components/Core/SelectField.vue';
import Gender from '@/components/Security/SignUp/Gender.vue';
import Email from '@/components/Security/SignUp/Email.vue';
import Passwords from '@/components/Security/SignUp/Passwords.vue';
import BirthdayYear from '@/components/Security/SignUp/BirthdayYear.vue';
import Job from '@/components/Security/SignUp/Job.vue';
import ProductionActivity from '@/components/Security/SignUp/ProductionActivity.vue';
import LocationText from '@/components/Security/SignUp/LocationText.vue';
import Surface from '@/components/Security/SignUp/Surface.vue';
import Map from '@/components/Security/SignUp/Map.vue';
import HomeButton from '@/components/Security/HomeButton.vue';
import ProductionType from '@/components/Security/SignUp/ProductionType.vue';
import SwitchChoice from '@/components/Core/SwitchChoice.vue';
import SecurityService from '@/services/SecurityService';
import {ProductionUser, SurfaceUser, UserCreation} from '#/Security';
import {Coordinates} from '#/Map';

export default defineComponent({
  name: 'SignUp',

  components: {
    SwitchChoice,
    ProductionType,
    HomeButton,
    Map,
    Surface,
    LocationText,
    ProductionActivity,
    Job,
    BirthdayYear,
    Passwords,
    Email,
    Gender,
    SelectField,
    TextField,
    RadioGroup,
    CheckboxGroup,
  },

  setup() {
    const formSubmitted = ref<boolean>(false)

    const email = ref<string>('')
    const emailHasError = ref<boolean>(false)

    const password = ref<string>('')
    const passwordHasError = ref<boolean>(false)

    const gender = ref<'h' | 'f' | ''>('')
    const genderHasError = ref<boolean>(false)

    const birthdayYear = ref<string>('')
    const job = ref<string>('')
    const location = ref<string>('')

    const professionalJob = ref<'personal' | 'professional' | ''>('')
    const professionalJobHasError = ref<boolean>(false)

    const surface = ref<SurfaceUser>({
      value: null,
      unit: '',
    })

    const addressIsFree = ref<boolean>(false)

    const productionType = ref<ProductionUser>({
      value: '',
      peopleNumber: null,
    })

    const coordinates = ref<Coordinates[]>([])

    const productionShared = ref<boolean>(false)
    const locationShared = ref<boolean>(false)
    const generalTermsOfUse = ref<boolean>(false)
    const generalTermsOfUseHasError = computed(() => formSubmitted.value && !generalTermsOfUse.value)

    const submitButton = ref<HTMLButtonElement | undefined>(undefined)

    const onSubmit = (): void => {
      formSubmitted.value = true

      if (
          !emailHasError.value &&
          !passwordHasError.value &&
          !genderHasError.value &&
          gender.value &&
          !professionalJobHasError.value &&
          professionalJob.value &&
          !generalTermsOfUseHasError.value
      ) {
        const user: UserCreation = {
          gender: gender.value,
          email: email.value,
          password: password.value,
          birthdayYear: parseInt(birthdayYear.value),
          productionActivity: professionalJob.value,
          productionShared: productionShared.value,
          locationShared: locationShared.value,
          generalTermsOfUse: generalTermsOfUse.value
        }

        if (job.value) user.job = job.value
        if (location.value) user.locationType = location.value
        if (coordinates.value.length) user.locations = coordinates.value
        if (surface.value.value && surface.value.unit) user.surface = surface.value
        if (productionType.value.value && productionType.value.peopleNumber) user.productionType = productionType.value

        SecurityService.createUser(user)
      }
    }

    return {
      addressIsFree,
      birthdayYear,
      coordinates,
      email,
      emailHasError,
      formSubmitted,
      gender,
      genderHasError,
      generalTermsOfUse,
      generalTermsOfUseHasError,
      job,
      location,
      locationShared,
      onSubmit,
      password,
      passwordHasError,
      productionShared,
      productionType,
      professionalJob,
      professionalJobHasError,
      submitButton,
      surface,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "src/assets/style/colors";
@import "src/assets/style/sizes";

#signup_page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $greyLight;
  padding-top: 40px;
  padding-bottom: 70px;

  > header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: $secondaryDark;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 5px;
      margin-bottom: 15px;
      font-weight: 400;
      font-size: 25px;
    }

    img {
      width: 100px;
      height: 100px;
      margin-bottom: 50px;
    }

    h1 {
      font-weight: 500;
      font-size: 30px;
      margin-bottom: 25px;
    }
  }

  > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    width: 100%;

    @media all and (min-width: $sm) {
      width: $sm;
    }

    @media all and (min-width: $md) {
      width: 700px;
    }

    p {
      margin-bottom: 10px;
    }

    .cTextField, .cRadioGroup {
      margin-bottom: 20px;
    }

    h2 {
      margin-bottom: 15px;
      font-weight: 400;
      font-size: 25px;
    }

    hr {
      border: none;
      border-top: 1px solid $secondaryDark;
      height: 1px;
      width: 75%;
      margin-top: 30px;
    }

    .v-btn {
      align-self: flex-end;
    }
  }
}
</style>

<style>
html {
  overflow-y : auto;

  body {
    overflow-y : auto;
  }
}
</style>
