<template>
  <section id="login_page">
    <div>
      <img src="/img/logo.svg" :alt="$t('core.img.logo')"/>

      <h1>{{ $t('security.login.title') }}</h1>

      <p class="isInformationForm" :class="{isError}">{{ message }}</p>

      <form>
        <text-field
            :autocomplete="false"
            :label="$t('security.login.form.username')"
            v-model="username"
            type="email"
            id="username"
            @keydown.enter="onConnection"
        />
        <text-field
            :label="$t('security.login.form.password')"
            v-model="password"
            type="password"
            id="password"
            @keydown.enter="onConnection"
        />
        <v-btn @click="onConnection" color="primary">{{ $t('security.login.form.buttonConnection') }}</v-btn>
      </form>

      <footer>
        <router-link :to="{ name: 'SignUp' }">{{ $t('security.login.signup') }}</router-link>
      </footer>

      <home-button/>
    </div>
  </section>
</template>

<script lang="ts">
import {defineComponent, onMounted, ref} from 'vue';
import TextField from '@/components/Core/TextField.vue';
import SecurityService from '@/services/SecurityService';
import {useI18n} from 'vue-i18n';
import HomeButton from '@/components/Security/HomeButton.vue';
import CoreService from '@/services/CoreService';

export default defineComponent({
  name: 'SignIn',

  components: {HomeButton, TextField},

  setup() {
    const username = ref<string>('')
    const password = ref<string>('')
    const message = ref<string>('')
    const isError = ref<boolean>(false)
    const {t} = useI18n()

    onMounted(() => {
      if (CoreService.getFlashMessage('userCreated')) {
        isError.value = false
        message.value = t('security.login.userCreated')
        return
      }

      if (CoreService.getFlashMessage('pageProtected')) {
        isError.value = true
        message.value = t('security.login.pageProtected')
        return
      }

      if (CoreService.getFlashMessage('logout')) {
        isError.value = false
        message.value = t('security.login.logout')
        return
      }
    })

    const onConnection = (): void => {
      isError.value = false
      message.value = t('security.login.connection')

      SecurityService.connection({
        identifier: username.value,
        password: password.value,
      })
                     .catch(() => {
                       isError.value = true
                       message.value = t('security.login.error')
                     })
    }

    return {
      isError,
      message,
      onConnection,
      password,
      username,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "src/assets/style/colors";

#login_page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $greyLight;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100px;
      height: 100px;
      margin-bottom: 50px;
    }

    h1 {
      font-weight: 500;
      font-size: 30px;
      margin-bottom: 25px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    footer {
      margin-top: 15px;
      font-size: 14px;
    }
  }
}
</style>

<style>
html {
  overflow-y : auto;

  body {
    overflow-y : auto;
  }
}
</style>
