<template>
  <section id="actionContainer" :class="{active}">
    <header>
      <v-btn icon @click="onClose">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </header>

    <section>
      <slot/>
    </section>
  </section>
</template>

<script lang="ts">
import {computed, defineComponent, PropType, toRefs} from 'vue';
import {useStore} from 'vuex';

export default defineComponent({
  name: 'ActionContainer',

  props: {
    type: {
      required: true,
      type: String as PropType<'vegetableForm'>,
    },
  },

  setup(props: { type: 'vegetableForm' }) {
    const {type} = toRefs(props)
    const store = useStore()

    const active = computed<boolean>(() => store.getters.vegetableIsSelected)

    const onClose = (): void => {
      switch (type.value) {
        case 'vegetableForm':
          store.dispatch('selectVegetable', null)
          break
      }
    }

    return {
      active,
      onClose,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "src/assets/style/colors";
@import "src/assets/style/sizes";

@keyframes onClose {
  0% {
    width: 100vw;
  }

  99.5% {
    width: 100vw;
  }

  100% {
    width: 0;
  }
}

@keyframes onOpen {
  0% {
    width: 0;
  }

  0.5% {
    width: 100vw;
  }

  100% {
    width: 100vw;
  }
}

#actionContainer {
  z-index: 11;
  width: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 60px;
  grid-template-areas: "section" "header";
  justify-items: end;
  animation: onClose 200ms;
  cursor: not-allowed;

  @media all and (min-width: $sm) {
    grid-template-rows: 60px 1fr;
    grid-template-areas: "header" "section";
  }

  > header {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%), -5px 0 10px $greyDark;
    background-color: white;
    z-index: 12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    grid-area: header;

    > button {
      box-shadow: none;
      margin-right: 12.5px;

      i {
        font-size: 25px;
      }
    }
  }

  > section {
    box-shadow: -5px 0 10px $greyDark;
    background-color: $greyLight;
    overflow: hidden;
    padding: 15px;
    grid-area: section;
  }

  > section, > header {
    transition: width 200ms ease-in-out;
    width: 0;
    height: 100%;
    cursor: auto;
  }

  &.active {
    width: 100vw;
    animation: onOpen 200ms;

    > section, > header {
      width: 100%;

      @media all and (min-width: $sm) {
        width: 33%;
      }
    }
  }
}
</style>
