<template>
  <header class="app__nav elevation-1">
    <router-link :to="{name: 'Home'}">
      <img src="/img/logo.svg" alt="Logo de l'application montrant une main formant une maison au dessus d'une fleur"/>
    </router-link>
    <div :class="{active}">
      <button @click="active = !active">JM</button>
      <ul>
        <li>
          <router-link :to="{name: 'Profile'}">Mon profil</router-link>
        </li>
        <li @click="onLogout">
          {{ $t('home.logout') }}
        </li>
      </ul>
    </div>
  </header>
</template>

<script lang="ts">
import {defineComponent, ref} from 'vue'
import useSecurity from '@/composables/useSecurity';
import {useRouter} from 'vue-router';

export default defineComponent({
  name: 'AppNav',

  setup() {
    const {onLogout} = useSecurity()
    const active = ref<boolean>(false)

    useRouter()
        .beforeEach(() => {
          active.value = false
        })

    return {
      active,
      onLogout,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "../../assets/style/colors";
@import "../../assets/style/sizes";

header {
  height: 60px;
  width: 100%;
  background-color: white;
  display: none;

  @media all and (min-width: $sm) {
    display: flex;
    justify-content: space-between;
  }

  > a, > div > button {
    width: 50px;
    height: 50px;
    margin: 5px 12.5px;
  }

  > div {
    > button {
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: radial-gradient($primaryLight, $primary);
      cursor: pointer;
    }

    &.active {
      ul {
        height: auto;
        width: auto;
      }
    }

    > ul {
      position: absolute;
      top: 60px;
      right: 0;
      background-color: white;
      overflow: hidden;
      height: 0;
      width: 0;

      li {
        list-style: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primaryDark;

        a {
          padding: 10px 15px;
          width: 100%;
          height: 100%;
          text-decoration: none;
        }

        &:last-of-type {
          padding: 10px 15px;
        }

        &:hover {
          color: $text;
          background-color: $secondaryLight;

          a {
            color: $text;
          }
        }
      }
    }
  }
}
</style>
