<template>
  <nav class="elevation-1">
    <ul>
      <li
          v-for="item in navItems"
          :key="item"
          :data-description="item.text"
          :class="{routeSelected: routeName === item.to}"
          @click="onNavigate(item)"
      >
        <span :id="`${item.to}-linkDescription`" tabindex="-1">{{ item.text }}</span>
        <router-link :to="{name: item.to}" :aria-describedby="`${item.to}-linkDescription`">
          <v-icon>{{ item.icon }}</v-icon>
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<script lang="ts">
import {computed, defineComponent, ref} from 'vue'
import store from '@/store';
import {useRoute, useRouter} from 'vue-router';
import {useI18n} from 'vue-i18n';
import useNav from '@/composables/useNav';

interface Item {
  text: string;
  icon: string;
  to?: string;
  click?: string;
}

export default defineComponent({
  name: 'DashboardNav',

  setup() {
    const router = useRouter()
    const route = useRoute()
    const selectedItem = ref<number>(1)
    const i18n = useI18n()

    const connected = computed<boolean>(() => {
      return store.getters.userIsConnected
    })

    const {navItems} = useNav(i18n, false)

    const userConnected = computed<boolean>(() => {
      return connected.value
    })

    const routeName = computed<string>(() => <string>route.name)

    const onLogout = (): void => {
      localStorage.removeItem('JWT_ACCESS')
      store.dispatch('loadJWT')
           .finally(async () => {
             await router.push({name: 'SignIn'})
           })
    }

    const onNavigate = async ({to}: Item): Promise<void> => {
      await router.push({name: to})
    }

    return {
      navItems,
      onLogout,
      onNavigate,
      routeName,
      selectedItem,
      userConnected,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "../../assets/style/colors";
@import "../../assets/style/sizes";

nav {
  height: calc(100vh - 60px);
  width: 75px;
  display: none;

  @media all and (min-width: $sm) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    li {
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      position: relative;
      cursor: pointer;

      &:hover:after {
        transform: translateX(0);
      }

      &:after {
        content: attr(data-description);
        position: absolute;
        left: 75px;
        white-space: nowrap;
        padding: 10px;
        background-color: white;
        transform: translateX(-100%);
        transition: transform ease-in-out 250ms;
        z-index: 9;
        color: $primary;
      }

      span {
        font-size: 1px;
        position: absolute;
        opacity: 0;
        z-index: -1;
      }

      a {
        text-decoration: none;

        i {
          color: $primary;
          padding: 10px 0;
          z-index: 10;
          width: 75px;
          height: 44px;
          background-color: white;
          box-sizing: border-box;
          text-decoration: none;
        }
      }

      &.routeSelected {
        &:after {
          background-color: $secondaryLight;
          color: $text;
        }

        a {
          i {
            color: $text;
            background-color: $secondaryLight;
          }
        }
      }
    }
  }
}
</style>
