<template>
  <div id="chartDiv"/>
</template>

<script lang="ts">
import {defineComponent, onMounted, PropType, toRefs, watch} from 'vue';
import * as am4core from '@amcharts/amcharts4/core';
import {
  CategoryAxis,
  ColumnSeries,
  LabelBullet,
  Legend,
  ValueAxis,
  XYChart,
} from '@amcharts/amcharts4/charts';
import am4themesAnimated from '@amcharts/amcharts4/themes/animated';
import {XYSeriesDataItem} from '@amcharts/amcharts4/charts';
import {ChartData} from '#/Map';

export default defineComponent({
  name: 'DataChart',

  props: {
    data: {
      required: true,
      type: Array as PropType<ChartData[]>,
    },
  },

  setup(props) {
    const {data} = toRefs(props)
    am4core.useTheme(am4themesAnimated)

    onMounted(() => {
      let chart = am4core.create('chartDiv', XYChart)
      chart.colors.step = 2;

      chart.legend = new Legend()
      chart.legend.position = 'right'
      chart.legend.paddingBottom = 20
      chart.legend.labels.template.maxWidth = 95

      let xAxis = chart.xAxes.push(new CategoryAxis())
      xAxis.dataFields.category = 'category'
      xAxis.renderer.cellStartLocation = 0.1
      xAxis.renderer.cellEndLocation = 0.9
      xAxis.renderer.grid.template.location = 0;

      let yAxis = chart.yAxes.push(new ValueAxis());
      yAxis.min = 0;

      chart.data = data.value

      const arrangeColumns = (): void => {
        let series = chart.series.getIndex(0);

        let w = 1 - xAxis.renderer.cellStartLocation - (1 - xAxis.renderer.cellEndLocation);
        if (series && series.dataItems.length > 1) {
          let x0 = xAxis.getX(<XYSeriesDataItem>series.dataItems.getIndex(0), 'categoryX');
          let x1 = xAxis.getX(<XYSeriesDataItem>series.dataItems.getIndex(1), 'categoryX');
          let delta = ((x1 - x0) / chart.series.length) * w;
          if (am4core.isNumber(delta)) {
            let middle = chart.series.length / 2;

            let newIndex = 0;
            chart.series.each(function (series) {
              if (!series.isHidden && !series.isHiding) {
                series.dummyData = newIndex;
                newIndex++;
              } else {
                series.dummyData = chart.series.indexOf(series);
              }
            })
            let visibleCount = newIndex;
            let newMiddle = visibleCount / 2;

            chart.series.each(function (series) {
              let trueIndex = chart.series.indexOf(series);
              let newIndex = series.dummyData;

              let dx = (newIndex - trueIndex + middle - newMiddle) * delta

              series.animate({property: 'dx', to: dx}, series.interpolationDuration, series.interpolationEasing);
              series.bulletsContainer.animate({
                property: 'dx',
                to: dx,
              }, series.interpolationDuration, series.interpolationEasing);
            })
          }
        }
      }

      const createSeries = (value: string, name: string): ColumnSeries => {
        let series = chart.series.push(new ColumnSeries())
        series.dataFields.valueY = value
        series.dataFields.categoryX = 'category'
        series.name = name

        series.events.on('hidden', arrangeColumns);
        series.events.on('shown', arrangeColumns);

        let bullet = series.bullets.push(new LabelBullet())
        bullet.interactionsEnabled = false
        bullet.dy = 30;
        bullet.label.text = '{valueY}'
        bullet.label.fill = am4core.color('#ffffff')

        return series;
      }

      createSeries('y1', '2019');
      createSeries('y2', '2020');
      createSeries('y3', '2021');
    })
  },
})
</script>

<style lang="scss" scoped>
#chartDiv {
  width: 80vw;
  height: 80%;
}
</style>
