<template>
  <nav id="SmartphoneNav">
    <router-link
        :to="{name: item ? item.to : 'Home'}"
        :class="{isCurrentRoute: item !== null && isCurrentRoute(item)}"
        v-for="(item, index) in navItems"
        :key="`nav-item-${index}`"
    >
      <i class="mdi" :class="[item.icon]" v-if="item !== null"/>
      <span v-if="item !== null">{{ item.text }}</span>
      <div v-if="item === null"/>
      <img
          v-if="item === null"
          src="/img/logo.svg"
          alt="Logo de l'application montrant une main formant une maison au dessus d'une fleur"
      />
    </router-link>
  </nav>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import useNav, {NavItem} from '@/composables/useNav';
import {useI18n} from 'vue-i18n';
import {useRoute} from 'vue-router';

export default defineComponent({
  name: 'SmartphoneNav',

  setup() {
    const i18n = useI18n()
    const {navItems} = useNav(i18n, true)
    const route = useRoute()

    const isCurrentRoute = ({to}: NavItem): boolean => to === route.name

    return {
      isCurrentRoute,
      navItems,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "src/assets/style/sizes";
@import "src/assets/style/colors";

nav#SmartphoneNav {
  height: 56px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  width: 100%;
  box-shadow: -2px 0 10px $greyDark;
  position: relative;

  @media all and (min-width: $sm) {
    display: none;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 0 12px 0;
    height: 56px;
    width: 100%;
    text-decoration: none;

    &.router-link-active {
      background-color: $secondaryLight;
      color: $text;
    }

    i {
      font-size: 24px;
      line-height: 24px;
    }

    span {
      font-size: 12px;
    }

    &:nth-child(3) {
      padding: 0;
      overflow: hidden;
      width: 100%;
      max-height: 56px;

      &:after {
        content: "";
        display: block;
        clear: both;
      }

      img {
        width: 50px;
        height: 50px;
      }

      > div:first-of-type {
        width: 50px;
        height: 50px;
        background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 50, 0, 0.35));
        box-shadow: 0 0 10px rgba(0, 50, 0, 0.35);
        position: absolute;
        top: 3px;
        border-radius: 50%;
      }
    }
  }
}
</style>
