<template>
  <button class="vegetableVignette" @click.stop="ripple">
    <span>{{ vegetable.name }}</span>

    <img :src="imgSrc(vegetable.picture.url)" :alt="vegetable.picture.alternativeText"/>

    <div class="ripple"/>
  </button>
</template>

<script lang="ts">
import {defineComponent, onMounted, PropType, ref, toRefs} from 'vue';
import {Vegetable} from '#/Vegetable';

export default defineComponent({
  name: 'VegetableVignette',

  props: {
    vegetable: {
      required: true,
      type: Object as PropType<Vegetable>,
    },
  },

  setup() {
    // Create the ripple effect on the button
    const ripple = (event: PointerEvent): void => {
      let el = <Element>event.target
      const dataSet = Object.keys(el.dataset)[0]

      while (el.tagName !== 'BUTTON') {
        el = el.parentNode
      }

      const rippleChild = el.querySelector('.ripple')
      el.removeChild(rippleChild)

      const circle = document.createElement('div')
      const d = Math.max(el.clientWidth, el.clientHeight)
      circle.dataset[dataSet] = ''
      circle.style.width = circle.style.height = `${d}px`

      circle.style.left = `${event.clientX - el.offsetLeft - d / 2}px`
      circle.style.top = `${event.clientY - el.offsetTop - d / 2}px`

      circle.classList.add('ripple')
      el.appendChild(circle)
    }

    return {
      imgSrc: (url: string): string => `${import.meta.env.VITE_APP_BACK_URL}${url}`,
      ripple,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "src/assets/style/colors";
@import "src/assets/style/sizes";

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}

.vegetableVignette {
  width: 125px;
  height: 125px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 2px 4px -1px $primary30, 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  transition: all ease-in-out 50ms;
  transform: translateY(0);
  margin: 20px;
  overflow: hidden;

  @media all and (min-width: $sm) {
    width: 150px;
    height: 150px;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 6px -1px $primary30, 0 6px 5px 0 rgba(0, 0, 0, .14), 0 3px 10px 0 rgba(0, 0, 0, .12);
    transition: all ease-in-out 50ms;
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px -1px $primary30, 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    transition: all ease-in-out 50ms;
  }

  .ripple {
    border-radius: 50%;
    background-color: $primary10;
    position: absolute;
    transform: scale(0);
    animation: ripple 0.4s linear;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    overflow: hidden;
    height: 0;
    transition: height 50ms ease-in-out;
  }

  &:hover, &:focus {
    outline: none;

    span {
      height: 100%;
    }
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
}
</style>
