<template>
  <section>
    <header>
      <div>
        <h2>{{ $t('vegetable.form.title') }}</h2>
        <h3>{{ vegetableSelected.name }}</h3>
      </div>

      <img :src="vegetableUrl" :alt="vegetableSelected.picture.alternativeText"/>
    </header>

    <p>{{ $t('vegetable.form.help') }}</p>

    <section>
      <p class="isInformationForm" :class="{isError}">{{ informationMessage }}</p>
      <form>
        <div>
          <TextField
              v-model="number"
              :label="$t('vegetable.form.fields.number')"
              v-model:has-error="numberHasError"
              v-model:message="numberError"
              type="number"
              id="number"
              size="100%"
          />
        </div>
        <div>
          <TextField
              v-model="weight"
              :label="$t('vegetable.form.fields.weight')"
              :step="0.1"
              v-model:has-error="weightHasError"
              v-model:message="weightError"
              type="number"
              id="weight"
              size="100%"
          />
          <SelectField
              v-model="weightUnit"
              :label="$t('vegetable.form.fields.weightUnit')"
              :items="weightUnitItems"
              :has-error="isError"
              id="unit"
              size="100%"
          />

          <SelectField
              v-model="location"
              label="test"
              :items="me.locations"
              id="location"
              size="100%"
          />
        </div>

        <div>
          <v-btn
              color="error"
              type="reset"
              variant="outlined"
              ref="cancel-button"
              @click="onUnselectVegetable"
          >
            {{ $t('vegetable.form.buttons.cancel') }}
          </v-btn>
          <v-btn
              color="primary"
              type="submit"
              ref="submit-button"
              @click="onSubmit"
          >
            {{ $t('vegetable.form.buttons.submit') }}
          </v-btn>
        </div>
      </form>
    </section>
  </section>
</template>

<script lang="ts">
import {computed, defineComponent, ref} from 'vue'
import {useStore} from 'vuex';
import {Vegetable} from '#/Vegetable';
import TextField from '@/components/Core/TextField.vue';
import SelectField from '@/components/Core/SelectField.vue';
import HarvestService, {NewHarvestPayload} from '@/services/HarvestService';
import {useI18n} from 'vue-i18n';
import VegetableService from '@/services/VegetableService';
import {UserStrapi} from '#/Security';

export default defineComponent({
  name: 'VegetableForm',

  components: {SelectField, TextField},

  setup() {
    const store = useStore()
    const {t} = useI18n()

    const me = computed<UserStrapi>(() => <UserStrapi>store.getters.me)
    const location = ref<Location | null>(null)

    const informationMessage = ref<string | null>(null)
    const isError = ref<boolean>(false)

    const number = ref<number | null>(null)
    const weight = ref<number | null>(null)
    const weightUnit = ref<'g' | 'kg' | 't' | null>(null)
    const weightUnitItems = [
      {text: t('vegetable.form.units.g'), value: 'g'},
      {text: t('vegetable.form.units.kg'), value: 'kg'},
      {text: t('vegetable.form.units.t'), value: 't'},
    ]

    const numberError = ref<string>('')
    const numberHasError = computed<boolean>(() => isError.value || numberError.value !== '')
    const weightError = ref<string>('')
    const weightHasError = computed<boolean>(() => isError.value || weightError.value !== '')

    const vegetableSelected = computed<Vegetable>(() => store.getters.vegetableSelected)
    const vegetableUrl = computed<string>(() => {
      return `${import.meta.env.VITE_APP_BACK_URL}${vegetableSelected.value.picture.url}`
    })

    const onUnselectVegetable = () => {
      store.dispatch('selectVegetable', null)
    }

    const onSubmit = (event: Event): void => {
      event.preventDefault()

      if (weight.value === null && number.value === null) {
        isError.value = true
        informationMessage.value = t('vegetable.form.errors.oneValueRequired')
      } else {
        if (!!weight.value && weightUnit.value === null) {
          isError.value = true
          informationMessage.value = t('vegetable.form.errors.unitRequired')
          return
        }

        isError.value = false
        informationMessage.value = t('vegetable.form.information')
        let harvestSaved: NewHarvestPayload = {vegetable: vegetableSelected.value.id}

        if (weight.value) {
          switch (weightUnit.value) {
            case 'g':
              harvestSaved.weight = weight.value
              break

            case 'kg':
              harvestSaved.weight = weight.value * 1000
              break

            case 't':
              harvestSaved.weight = weight.value * 1000000
              break
          }
        }

        if (number.value) harvestSaved.number = number.value

        HarvestService.saveNewHarvest(harvestSaved)
                      .then(() => {
                        VegetableService.loadFavoritesVegetables()
                      })
      }
    }

    return {
      informationMessage,
      isError,
      location,
      me,
      number,
      numberError,
      numberHasError,
      onSubmit,
      onUnselectVegetable,
      vegetableSelected,
      vegetableUrl,
      weight,
      weightError,
      weightHasError,
      weightUnit,
      weightUnitItems,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "src/assets/style/colors";
@import "src/assets/style/sizes";

section {
  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      color: $secondaryText;
      font-weight: 500;
    }

    h3 {
      font-weight: 300;
      font-style: italic;
    }

    img {
      width: 150px;
      height: 150px;
      border-radius: 15px;
      border: 1px solid $secondaryDark;
    }
  }

  > p {
    margin-top: 20px;
  }

  > section {
    form {
      width: 100%;

      > div {
        display: flex;
        justify-content: flex-end;

        &:nth-child(2) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 15px;
        }

        &:last-of-type {
          flex-direction: column;

          .v-btn:first-of-type {
            margin-bottom: 15px;
          }

          @media all and (min-width: $sm) {
            flex-direction: row;

            .v-btn:first-of-type {
              margin-right: 15px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
</style>
