<template>
  <main @click="drawerIsVisible = false">
    <v-app-bar>
      <img src="/img/logo_h.svg" :alt="$t('core.img.logo')"/>
      <div>
        <HomeButtons/>
        <v-btn icon @click.stop="drawerIsVisible = !drawerIsVisible" class="burgerMenu">
          <v-icon>mdi-menu</v-icon>
        </v-btn>
      </div>
    </v-app-bar>

    <v-navigation-drawer temporary app v-model="drawerIsVisible" @click.stop>
      <HomeButtons/>
    </v-navigation-drawer>

    <header id="page_header">
      <img src="/img/title.svg" :alt="$t('core.img.logo')"/>
      <img src="/img/header_home.svg" :alt="$t('core.img.logo')"/>
      <p>{{ text?.description }}</p>
    </header>

    <section>
      <h2>Qu'est-ce que <img src="/img/title_white.svg" :alt="$t('core.img.logo')"/> ?</h2>

      <div>
        <section v-for="card in text?.cards" :key="card">
          <img :src="pictureUrl(card.illustration.url)" :alt="card.illustration.alternativeText">

          <h2>{{ card.title }}</h2>

          <p>{{ card.description }}</p>
        </section>
      </div>
    </section>
  </main>
</template>

<script lang="ts">
import {computed, defineComponent, onMounted, ref} from 'vue'
import {useStore} from 'vuex';
import HomeButtons from '@/components/Home/HomeButtons.vue';
import HomeService from '@/services/HomeService';
import {HomePage} from '#/Home';

export default defineComponent({
  name: 'Home',

  components: {HomeButtons},

  setup() {
    const store = useStore()
    const pageAtTheTop = ref<boolean>(false)

    const drawerIsVisible = ref<boolean>(false)

    const text = ref<HomePage | null>(null)

    const pageIsAtTheTop = (): void => {
      pageAtTheTop.value = window.scrollY === 0
    }

    onMounted(() => {
      pageIsAtTheTop()
      store.dispatch('loadJWT')

      HomeService.loadHomeText()
                 .then((homePage) => {
                   text.value = homePage
                 })
    })

    window.addEventListener('scroll', () => {
      pageIsAtTheTop()
    })

    const userIsConnected = computed(() => store.getters.userIsConnected)

    const pictureUrl = (url: string): string => `${import.meta.env.VITE_APP_BACK_URL}${url}`

    return {
      drawerIsVisible,
      pageAtTheTop,
      pictureUrl,
      text,
      userIsConnected,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "src/assets/style/colors";
@import "src/assets/style/sizes";
@import "src/assets/style/font";

main {
  background-color: $greyLight;
  min-height: 100vh;

  > :deep(.v-app-bar) {
    > div {
      width: 98%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;

      @media all and (min-width: $sm) {
        width: 90%;
      }

      img {
        height: 55px;
      }

      > div {
        display: flex;

        a {
          display: none;

          &:first-of-type {
            margin-right: 15px;
          }

          @media all and (min-width: $sm) {
            display: flex;
          }
        }

        button:not(.burgerMenu) {
          display: none;
          @media all and (min-width: $sm) {
            display: flex;
          }
        }

        .burgerMenu {
          display: block;

          @media all and (min-width: $sm) {
            display: none;
          }
        }
      }
    }
  }

  > :deep(.v-navigation-drawer) {
    display: block;

    @media all and (min-width: $sm) {
      display: none;
    }

    > div {
      padding: 20px;

      a:first-of-type {
        margin-bottom: 15px;
      }
    }
  }

  > #page_header {
    margin-top: 64px;
    position: relative;
    display: flex;
    justify-content: flex-end;

    p {
      width: 700px;
      height: 300px;
      position: absolute;
      top: 180px;
      left: 370px;
      font-family: $titleFont;
      font-size: 30px;
    }

    img {
      &:first-of-type {
        position: absolute;
        top: 10px;
        left: 20px;
        width: 100px;

        @media all and (min-width: $sm) {
          top: 50px;
          width: 400px;
          left: 370px;
        }
      }

      &:last-of-type {
        display: block;
        top: 50px;
        right: 0;
        width: 100%;

        @media all and (min-width: $sm) {
          top: 0;
          width: auto;
          height: calc(100vh - 64px);
        }
      }
    }
  }

  > section {
    background-image: url("/img/circle.svg");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 30px;

    > h2 {
      text-align: center;
      color: white;
      font-size: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 110px;
        margin-right: 15px;
        margin-left: 15px;
        position: relative;
        bottom: 1.5px;
      }
    }

    > div {
      display: grid;
      width: 1500px;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
      margin: 50px auto;

      > section {
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .15), 0 8px 10px 1px rgba(0, 0, 0, .10), 0 3px 14px 2px rgba(0, 0, 0, .05);
        border-radius: 15px;
        background-color: #fff;
        padding: 50px;

        img {
          width: 100%;
        }

        h2 {
          text-align: center;
          margin: 10px;
        }
      }
    }
  }
}
</style>

<style>
html {
  overflow-y : auto;

  body {
    overflow-y : auto;
  }
}
</style>
