<template>
  <v-btn
      color="primary"
      :to="{ name: 'SignIn' }"
      v-if="!userIsConnected"
      ref="signInButton"
  >
    {{ $t('home.signIn') }}
  </v-btn>
  <v-btn
      color="primary"
      variant="outlined"
      :to="{ name: 'SignUp' }"
      v-if="!userIsConnected"
      ref="signUpButton"
  >
    {{ $t('home.signUp') }}
  </v-btn>
  <v-btn
      color="primary"
      :to="{ name: 'Vegetables' }"
      v-if="userIsConnected"
      ref="goAppLink"
  >
    {{ $t('home.app') }}
  </v-btn>
  <v-btn
      color="primary"
      v-if="userIsConnected"
      @click="onLogout"
      ref="logoutButton"
  >
    {{ $t('home.logout') }}
  </v-btn>
</template>

<script lang="ts">
import {computed, defineComponent} from 'vue';
import {useStore} from 'vuex';
import useSecurity from '@/composables/useSecurity';

export default defineComponent({
  name: 'HomeButtons',

  setup () {
    const store = useStore()
    const {onLogout} = useSecurity()

    return {
      onLogout,
      userIsConnected: computed(() => store.getters.userIsConnected)
    }
  }
})
</script>
