<template>
  <SelectField
      size="100%"
      id="birthday_year"
      label="Mon année de naissance"
      :model-value="birthdayYear"
      :items="birthdayYears"
      @update:model-value="onUpdate"
  />
</template>

<script lang="ts">
import {computed, defineComponent, PropType, SetupContext} from 'vue';
import SelectField from '@/components/Core/SelectField.vue';
import {InputItemFormat} from '#/index';

export default defineComponent({
  name: 'BirthdayYear',

  components: {SelectField},

  props: {
    birthdayYear: {
      required: true,
      type: String as PropType<string>,
    },
  },

  setup(_, {emit}: SetupContext) {
    let minYear = 1920
    const maxYear = (new Date()).getFullYear()

    const birthdayYears = computed<InputItemFormat[]>(() => {
      const years = []
      for (minYear; minYear < maxYear; minYear++) {
        years.push({text: `${minYear}`, value: `${minYear}`})
      }
      return years
    })

    const onUpdate = (newValue: string): void => {
      emit(`update:birthdayYear`, newValue)
    }

    return {
      birthdayYears,
      onUpdate,
    }
  },
})
</script>
