<template>
  <div id="emailComponent">
    <TextField
        :model-value="email"
        :message="errorMessage"
        :has-error="hasError"
        :label="$t('security.signup.components.email.label')"
        size="100%"
        id="email"
        type="email"
        @update:model-value="onUpdate"
        @blur="onCheckEmail"
    />

    <router-link :to="{ name: 'SignIn' }" v-if="displayLoginLink">
      {{ $t('security.signup.toSignInPage') }}
    </router-link>
  </div>
</template>

<script lang="ts">
import {defineComponent, PropType, ref, SetupContext, toRefs, watch} from 'vue';
import TextField from '@/components/Core/TextField.vue';
import {useI18n} from 'vue-i18n';
import {AxiosError} from 'axios';
import SecurityService from '@/services/SecurityService';

interface ComponentProps {
  email: string;
  formSubmitted: boolean;
  hasError: boolean;
}

export default defineComponent({
  name: 'Email',

  components: {TextField},

  props: {
    email: {
      required: true,
      type: String as PropType<string>,
    },
    formSubmitted: {
      required: true,
      type: Boolean as PropType<boolean>,
      default: false,
    },
    hasError: {
      required: true,
      type: Boolean as PropType<boolean>,
      default: false,
    },
  },

  setup(props: ComponentProps, {emit}: SetupContext) {
    const {formSubmitted, email} = toRefs(props)
    const errorMessage = ref<string>('')
    const {t} = useI18n()
    const displayLoginLink = ref<boolean>(false)

    /**
     * Function to manage the errors. Select the good error message and emit the new error status.
     *
     * @param {boolean} errStatus
     * @param {string} errMessage
     */
    const errorManager = (errStatus: boolean, errMessage: string): void => {
      errorMessage.value = errMessage
      emit('update:has-error', errStatus)
    }

    /**
     * Function to check email value, used in the formSubmitted watching and in the update value function
     */
    const checkEmailValue = (newEmail: string): boolean => {
      const value = newEmail || email.value

      if (value === '') {
        if (formSubmitted.value) {
          errorManager(true, t('security.signup.components.email.errors.required'))
        }
        return false
      } else if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(value)) {
        if (formSubmitted.value) {
          errorManager(false, '')
        }
        return true
      }
      if (formSubmitted.value) {
        errorManager(true, t('security.signup.components.email.errors.format'))
      }
      return false
    }

    /**
     * When the form is submitted, the error status updated.
     */
    watch(formSubmitted, () => {
      checkEmailValue()
    })

    /**
     * When the text field value updated, the value is submitted on the parent component.
     * If the form is submitted the error status is submitted.
     *
     * @param {string} newValue
     */
    const onUpdate = (newValue: string): void => {
      checkEmailValue(newValue)
      emit(`update:email`, newValue)
    }

    /**
     * Function used to check if the email has already used in the database.
     * If it is used a error message displayed and a link to connect added.
     *
     * @param {string} newValue
     */
    const onCheckEmail = (newValue: string): void => {
      displayLoginLink.value = false

      if (checkEmailValue(newValue)) {
        SecurityService.testEmail(newValue)
                       .then(() => {
                         onUpdate(newValue)
                       })
                       .catch((error: AxiosError) => {
                         emit('update:has-error', true)

                         switch (error.response?.status) {
                           case 409:
                             displayLoginLink.value = true
                             errorMessage.value = t('security.signup.components.email.errors.alreadyUsed')
                             break

                           default:
                             errorMessage.value = t('security.signup.components.email.errors.errorNotDefined')
                         }
                       })
      }
    }

    return {
      displayLoginLink,
      errorMessage,
      onCheckEmail,
      onUpdate,
    }
  },
})
</script>

<style lang="scss" scoped>
#emailComponent {
  width: 100%;

  a {
    margin: 20px 0 20px 16px;
    width: 100%;
  }
}
</style>
