<template>
  <RadioGroup
      :label="$t('security.signup.components.gender.label')"
      :items="genderItems"
      :model-value="gender"
      :has-error="hasError"
      :error-message="hasError ? $t('security.signup.components.gender.errorMessage') : ''"
      size="100%"
      name="gender"
      @update:model-value="onUpdate"
  />
</template>

<script lang="ts">
import RadioGroup from '@/components/Core/RadioGroup.vue'
import {defineComponent, nextTick, PropType, SetupContext, toRefs, watch} from 'vue';
import {useI18n} from 'vue-i18n';
import {InputItemFormat} from '#/index';

interface ComponentProps {
  formSubmitted: boolean;
  gender: string;
  hasError: boolean;
}

export default defineComponent({
  name: 'Gender',

  components: {RadioGroup},

  props: {
    formSubmitted: {
      required: true,
      type: Boolean as PropType<boolean>,
    },
    gender: {
      required: true,
      type: String as PropType<string>,
    },
    hasError: {
      required: true,
      type: Boolean as PropType<boolean>,
    },
  },

  setup(props: ComponentProps, {emit}: SetupContext) {
    const {gender, formSubmitted} = toRefs(props)
    const _i18n = useI18n()

    const genderItems: InputItemFormat[] = [
      {text: _i18n.t('security.signup.components.gender.items.men'), value: 'h'},
      {text: _i18n.t('security.signup.components.gender.items.women'), value: 'f'},
    ]

    const errorCheck = (): void => {
      emit('update:has-error', formSubmitted.value && gender.value === '')
    }

    watch<boolean>(formSubmitted, errorCheck)

    const onUpdate = (newValue: string): void => {
      emit(`update:gender`, newValue)

      nextTick(errorCheck)
    }

    return {
      genderItems,
      onUpdate,
    }
  },
})
</script>
