<template>
  <section id="jobContainer">
    <RadioGroup
      :label="$t('security.signup.components.job.label')"
      :items="activities"
      :model-value="jobStart"
      size="100%"
      name="activity"
      @update:model-value="onUpdate($event)"
  />
  <TextField
      :model-value="jobOther"
      :label="$t('security.signup.components.job.textFieldLabel')"
      size="100%"
      id="jobOther"
      v-if="isOtherJob"
      @update:model-value="onUpdate($event, 'other')"
  />
  </section>
</template>

<script lang="ts">
import {computed, defineComponent, PropType, ref, SetupContext, toRefs, watch} from 'vue';
import RadioGroup from '@/components/Core/RadioGroup.vue';
import TextField from '@/components/Core/TextField.vue';
import {useI18n} from 'vue-i18n';
import {InputItemFormat} from '#/index';

export default defineComponent({
  name: 'Job',

  components: {TextField, RadioGroup},

  props: {
    job: {
      required: true,
      type: String as PropType<string>,
    },
  },

  setup(props: { job: string }, context: SetupContext) {
    const {job} = toRefs(props)
    const jobStart = ref<string>('')
    const jobRetired = ref<string>('')
    const jobOther = ref<string>('')

    watch(job, () => {
      const [start, end] = job.value.split(' - ')
      jobStart.value = start
      jobRetired.value = ''
      jobOther.value = ''

      if (end) {
        if (start === 'Retraité') {
          jobRetired.value = end
        } else if (start === 'Autre') {
          jobOther.value = end
        }
      }
    })

    const _i18n = useI18n()
    const activities: InputItemFormat[] = [
      {
        text: _i18n.t('security.signup.components.job.items.farmer'),
        value: 'farmer',
      },
      {
        text: _i18n.t('security.signup.components.job.items.craftsmanMerchantCompanyManager'),
        value: 'craftsmanMerchantCompanyManager',
      },
      {
        text: _i18n.t('security.signup.components.job.items.managerHigherIntellectualProfession'),
        value: 'managerHigherIntellectualProfession',
      },
      {
        text: _i18n.t('security.signup.components.job.items.intermediateProfession'),
        value: 'intermediateProfession',
      },
      {
        text: _i18n.t('security.signup.components.job.items.worker'),
        value: 'worker',
      },
      {
        text: _i18n.t('security.signup.components.job.items.employee'),
        value: 'employee',
      },
      {
        text: _i18n.t('security.signup.components.job.items.student'),
        value: 'student',
      },
      {
        text: _i18n.t('security.signup.components.job.items.retired'),
        value: 'retired',
        children: [
          {
            text: _i18n.t('security.signup.components.job.items.farmer'),
            value: 'farmer',
          },
          {
            text: _i18n.t('security.signup.components.job.items.craftsmanMerchantCompanyManager'),
            value: 'craftsmanMerchantCompanyManager',
          },
          {
            text: _i18n.t('security.signup.components.job.items.managerHigherIntellectualProfession'),
            value: 'managerHigherIntellectualProfession',
          },
          {
            text: _i18n.t('security.signup.components.job.items.intermediateProfession'),
            value: 'intermediateProfession',
          },
          {
            text: _i18n.t('security.signup.components.job.items.worker'),
            value: 'worker',
          },
          {
            text: _i18n.t('security.signup.components.job.items.employee'),
            value: 'employee',
          },
          {
            text: _i18n.t('security.signup.components.job.items.student'),
            value: 'student',
          },
          {
            text: _i18n.t('security.signup.components.job.items.other'),
            value: 'other',
          },
        ],
      },
      {
        text: _i18n.t('security.signup.components.job.items.other'),
        value: 'other',
      },
    ]

    const isOtherJob = computed<boolean>(() => /other.*/.test(job.value))

    const onUpdate = (newValue: string, type: 'retired' | 'other' | undefined = undefined): void => {
      if (type === undefined) {
        context.emit('update:job', newValue)
      } else if (type === 'retired' || type === 'other') {
        context.emit('update:job', `${jobStart.value} - ${newValue}`)
      }
    }

    return {
      activities,
      isOtherJob,
      jobOther,
      jobRetired,
      jobStart,
      onUpdate,
    }
  },
})
</script>

<style lang="scss">
#jobContainer {
  margin-bottom: 30px;
  width: 100%;
}
</style>
