<template>
  <RadioGroup
      :items="locations"
      :model-value="start"
      :label="$t('security.signup.components.locationText.label')"
      size="100%"
      name="location"
      @update:model-value="onUpdate"
  />
</template>

<script lang="ts">
import {defineComponent, onMounted, PropType, ref, SetupContext, toRefs, watch} from 'vue';
import RadioGroup from '@/components/Core/RadioGroup.vue';
import {useI18n} from 'vue-i18n';
import {InputItemFormat} from '#/index';

export default defineComponent({
  name: 'LocationText',

  components: {RadioGroup},

  props: {
    location: {
      required: true,
      type: String as PropType<string>,
    },
  },

  setup(props: { location: string }, {emit}: SetupContext) {
    const {location} = toRefs(props)
    const start = ref<string>('')
    const end = ref<string>('')

    const locationSplitting = (): void => {
      const locationSplit = location.value.split(' - ')
      start.value = locationSplit[0]
      end.value = locationSplit[1]
    }

    onMounted(locationSplitting)
    watch(location, locationSplitting)

    const _i18n = useI18n()
    const locations: InputItemFormat[] = [
      {
        text: _i18n.t('security.signup.components.locationText.items.home.label'),
        value: 'insideHome',
        children: [
          {
            text: _i18n.t('security.signup.components.locationText.items.home.privateYard'),
            value: 'privateYard',
          },
          {
            text: _i18n.t('security.signup.components.locationText.items.home.balconyPlanter'),
            value: 'balconyPlanter',
          },
          {
            text: _i18n.t('security.signup.components.locationText.items.home.indoorMicroGarden'),
            value: 'indoorMicroGarden',
          },
          {
            text: _i18n.t('security.signup.components.locationText.items.home.roofTerrace'),
            value: 'roofTerrace',
          },
          {
            text: _i18n.t('security.signup.components.locationText.items.home.houseGarden'),
            value: 'houseGarden',
          },
          {
            text: _i18n.t('security.signup.components.locationText.items.home.other'),
            value: 'other',
          },
        ],
      },
      {
        text: _i18n.t('security.signup.components.locationText.items.outsideHome.label'),
        value: 'outsideHome',
        children: [
          {
            text: _i18n.t('security.signup.components.locationText.items.outsideHome.workerGarden'),
            value: 'workerGarden',
          },
          {
            text: _i18n.t('security.signup.components.locationText.items.outsideHome.sharedGarden'),
            value: 'sharedGarden',
          },
          {
            text: _i18n.t('security.signup.components.locationText.items.outsideHome.privateParcel'),
            value: 'privateParcel',
          },
          {
            text: _i18n.t('security.signup.components.locationText.items.outsideHome.other'),
            value: 'other',
          },
        ],
      },
      {
        text: _i18n.t('security.signup.components.locationText.items.professionalOperation.label'),
        value: 'professionalOperation',
        children: [
          {
            text: _i18n.t('security.signup.components.locationText.items.professionalOperation.vegetableGrowing'),
            value: 'vegetableGrowing',
          },
          {
            text: _i18n.t('security.signup.components.locationText.items.professionalOperation.fruitGrowing'),
            value: 'fruitGrowing',
          },
          {
            text: _i18n.t('security.signup.components.locationText.items.professionalOperation.cerealGrowing'),
            value: 'cerealGrowing',
          },
          {
            text: _i18n.t('security.signup.components.locationText.items.professionalOperation.other'),
            value: 'other',
          },
        ],
      },
    ]

    const onUpdate = (newValue: string): void => {
      emit('update:location', newValue)
    }

    return {
      end,
      locations,
      onUpdate,
      start,
    }
  },
})
</script>
