<template>
  <div id="map__container">
    <p>
      {{ $t('security.signup.components.map.information1') }}
    </p>
    <p>
      {{ $t('security.signup.components.map.information2') }}
    </p>
    <div>
      <l-map
          :min-zoom="10"
          :max-zoom="19"
          v-model:zoom="zoom"
          :center="[48.573406, 7.752111]"
          @click="onAddMarker"
      >
        <l-tile-layer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"/>
        <l-marker
            v-for="marker in markers"
            :key="marker"
            :lat-lng="[marker.lat, marker.lng]"
            :draggable="true"
            @dragend="onMoveMarker($event, marker.id)"
        >
          <l-icon icon-url="/img/marker.svg" :icon-size="[75, 75]" :icon-anchor="[37.5, 65]"/>
          <l-tooltip>
            {{ $t('security.signup.components.map.marker.information') }}
          </l-tooltip>
        </l-marker>
      </l-map>
    </div>
    <div>
      <div>
        <text-field
            :autocomplete="false"
            :label="$t('security.signup.components.map.addAddress')"
            :model-value="addressTextField"
            :clearable="true"
            size="100%"
            id="address"
            @update:model-value="onUpdateAddress"
        />
      </div>

      <ul v-if="hasChoices">
        <li
            v-for="(addressChoice, index) in addressChoices"
            :key="addressChoice"
            :id="`address_list_item_${index}`"
            @click="onSelectAddress(addressChoice)"
        >
          {{ addressChoice.address }}
        </li>
      </ul>
      <progress-circle v-if="search"/>


      <h3 v-if="hasMarkers">{{ $t('security.signup.components.map.table.title') }}</h3>
      <table v-if="hasMarkers">
        <tr>
          <th scope="col">{{ $t('security.signup.components.map.table.headers.address') }}</th>
          <th scope="col">{{ $t('security.signup.components.map.table.headers.action') }}</th>
          <th scope="col">{{ $t('security.signup.components.map.table.headers.surface') }}</th>
        </tr>
        <tr
            v-for="(marker, i) in markers"
            :key="`address-${marker.id}`"
        >
          <td>{{ marker.address }}</td>
          <td>
            <v-btn color="primary" size="small" icon @click="onDeleteMarker(marker.id)">
              <v-icon>mdi-trash-can</v-icon>
            </v-btn>
          </td>
          <td>
            <div>
              <label :for="`surface${i}`">{{ $t('security.signup.components.map.table.surface.valueLabel') }}</label>
              <input :value="marker.surface.value" :id="`surface${i}`" type="number" @input="onAddSurface($event, i)"/>
            </div>

            <div>
              <label :for="`unit${i}`">{{ $t('security.signup.components.map.table.surface.unitLabel') }}</label>
              <select :id="`unit${i}`" :value="marker.surface.unit" @change="onChoiceUnit($event, i)">
                <option value="m">
                  {{ $t('security.signup.components.map.table.surface.options.meters') }}
                </option>
                <option value="a">
                  {{ $t('security.signup.components.map.table.surface.options.ares') }}
                </option>
                <option value="ha">
                  {{ $t('security.signup.components.map.table.surface.options.hectares') }}
                </option>
              </select>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import {computed, defineComponent, PropType, reactive, ref, SetupContext} from 'vue'
import {LMap, LTileLayer, LMarker, LTooltip, LIcon} from '@vue-leaflet/vue-leaflet';
import 'leaflet/dist/leaflet.css';
import {DragEndEvent, LeafletMouseEvent} from 'leaflet';
import TextField from '@/components/Core/TextField.vue';
import ProgressCircle from '@/components/Core/ProgressCircle.vue';
import MapService from '@/services/MapService';
import {Coordinates, Marker} from '#/Map';

export default defineComponent({
  name: 'Map',

  components: {
    ProgressCircle,
    TextField,
    LMap,
    LTileLayer,
    LMarker,
    LTooltip,
    LIcon,
  },

  props: {
    coordinates: {
      required: true,
      type: Array as PropType<Coordinates[]>,
      default: [],
    },
  },

  setup(_, {emit}: SetupContext) {
    const zoom = ref<number>(10)

    const markers = reactive<Marker[]>([])

    const address = ref<string>('')

    const addressTextField = ref<string>('')
    const addressChoices = ref<Marker[]>([])

    const timeOut = ref<any>(undefined)
    const search = ref<boolean>(false)

    const onUpdateMarkers = (): void => {
      emit(
          'update:coordinates',
          markers.map<Coordinates>((marker) => {
            return {
              lat: marker.lat,
              lng: marker.lng,
              surface: marker.surface.value || 0,
              unit: marker.surface.unit || 'm',
            }
          }),
      )
    }

    const onAddMarker = (param: LeafletMouseEvent & PointerEvent): void => {
      if (param.latlng) {
        const {lat: latClicked, lng: lngClicked} = param.latlng

        MapService.getAddress(latClicked, lngClicked)
                  .then((response) => {
                    markers.push({
                      lat: latClicked,
                      lng: lngClicked,
                      id: MapService.uuidGenerator(),
                      address: response.data.display_name,
                      surface: {
                        value: null,
                        unit: null,
                      },
                    })

                    onUpdateMarkers()
                  })
      }
    }

    const onUpdateAddress = (newAddress: string): void => {
      addressTextField.value = newAddress
      addressChoices.value = []
      search.value = true
      clearTimeout(timeOut.value)
      timeOut.value = setTimeout(() => {
        MapService.searchAddress(newAddress)
                  .then(response => {
                    search.value = false
                    addressChoices.value = response.data.map<Marker>(addressResponse => {
                      const [lat, _, lng] = addressResponse.boundingbox
                      return {
                        lat: parseFloat(lat),
                        lng: parseFloat(lng),
                        id: MapService.uuidGenerator(),
                        address: addressResponse.display_name,
                        surface: {
                          unit: null,
                          value: null,
                        },
                      }
                    })
                  })
      }, 500)
    }

    const hasChoices = computed<boolean>(() => addressChoices.value.length !== 0)

    const onMoveMarker = (event: DragEndEvent, id: string): void => {
      const markerUpdated: Marker | undefined = markers.find(marker => marker.id === id)
      if (markerUpdated) {
        const {lat, lng} = event.target._latlng
        MapService.getAddress(lat, lng)
                  .then((response) => {
                    markerUpdated.lat = parseFloat(lat)
                    markerUpdated.lng = parseFloat(lng)
                    markerUpdated.address = response.data.display_name
                  })
      }
    }

    const hasMarkers = computed<boolean>(() => markers.length !== 0)

    const onDeleteMarker = (id: string) => {
      const index = markers.findIndex((marker: Marker) => marker.id === id)

      if (index !== -1) {
        markers.splice(index, 1)

        onUpdateMarkers()
      }
    }

    const onSelectAddress = (address: { lat: number, lng: number, id: string, address: string }): void => {
      markers.push({
        ...address,
        surface: {
          value: null,
          unit: null,
        },
      })
      addressTextField.value = ''
      addressChoices.value = []
      onUpdateMarkers()
    }

    const onAddSurface = (event: InputEvent, i: number): void => {
      const target = <HTMLInputElement>event.target
      markers[i].surface.value = isNaN(parseInt(target.value)) ? 0 : parseInt(target.value)
      onUpdateMarkers()
    }

    const onChoiceUnit = (event: Event, i: number): void => {
      const target = <HTMLSelectElement>event.target
      markers[i].surface.unit = <'m' | 'a' | 'ha'>target.value
      onUpdateMarkers()
    }

    return {
      address,
      addressChoices,
      addressTextField,
      hasChoices,
      hasMarkers,
      markers,
      onAddMarker,
      onDeleteMarker,
      onMoveMarker,
      onSelectAddress,
      onUpdateAddress,
      search,
      zoom,
      onAddSurface,
      onChoiceUnit,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "src/assets/style/sizes";

#map__container {
  display: flex;
  flex-direction: column;
  width: 100%;

  > p {
    font-size: 14px;
    text-indent: 15px;

    &:last-of-type {
      margin-bottom: 15px;
    }
  }

  > div {
    &:first-of-type {
      height: 50vh;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  ul {
    li {
      list-style: none;
      cursor: pointer;
      padding: 10px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  h3 {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 20px;
  }

  table {
    border-collapse: collapse;
    margin-bottom: 30px;

    tr {
      display: grid;
      grid-template-columns: 6fr 1fr 4fr;
      background-color: white;

      &:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.05);

        td:nth-child(3) {
          input, select {
            background-color: white;
          }
        }
      }

      th, td {
        border-bottom: 1px solid black;

        &:nth-child(1) {
          padding: 10px;
        }

        &:nth-child(2) {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:nth-child(3) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          > div {
            display: grid;
            grid-template-columns: 1fr 100px;
            width: 100%;
            padding: 5px;

            label {
              justify-self: flex-end;
              align-self: center;
              margin-right: 10px;
            }

            input, select {
              padding-left: 10px;
              background-color: rgba(0, 0, 0, 0.05);
              border-radius: 5px;
              width: 100%;
              border: 1px solid black;
            }

            select {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
</style>
