<template>
  <div id="passwordsComponent">
    <div class="passwordInformation" ref="passwordInformation">
      <p id="passwordInformation">{{ $t('security.signup.components.password.info.message') }}</p>
      <ul>
        <li ref="passwordInformationLength">
          {{ $t('security.signup.components.password.info.list.liLength') }}
        </li>
        <li ref="passwordInformationSpecialChar">
          {{ $t('security.signup.components.password.info.list.liSpecialChar') }}
        </li>
        <li ref="passwordInformationUppercase">
          {{ $t('security.signup.components.password.info.list.liUppercase') }}
        </li>
        <li ref="passwordInformationLowercase">
          {{ $t('security.signup.components.password.info.list.liLowercase') }}
        </li>
        <li ref="passwordInformationNumber">
          {{ $t('security.signup.components.password.info.list.liNumber') }}
        </li>
      </ul>
    </div>
    <TextField
        :model-value="passwords.p1"
        :has-error="password1HasError"
        :message="errorMessages.p1"
        :label="$t('security.signup.components.password.labels.password1')"
        :type="passwordsIsVisible.p1 ? 'text' : 'password'"
        :append-icon="passwordsIsVisible.p1 ? 'mdi-eye-off' : 'mdi-eye'"
        id="password1"
        size="100%"
        aria-describedby="passwordInformation"
        @update:model-value="onUpdate($event, 'password1')"
        @click:prepend="passwordsIsVisible.p1 = !passwordsIsVisible.p1"
    />
    <TextField
        :model-value="passwords.p2"
        :has-error="password2HasError"
        :message="errorMessages.p2"
        :label="$t('security.signup.components.password.labels.password2')"
        :type="passwordsIsVisible.p2 ? 'text' : 'password'"
        :append-icon="passwordsIsVisible.p2 ? 'mdi-eye-off' : 'mdi-eye'"
        id="password2"
        size="100%"
        @update:model-value="onUpdate($event, 'password2')"
        @click:prepend="passwordsIsVisible.p2 = !passwordsIsVisible.p2"
    />
  </div>
</template>

<script lang="ts">
import {computed, defineComponent, onMounted, PropType, ref, SetupContext, toRefs, watch} from 'vue';
import TextField from '@/components/Core/TextField.vue';
import {useI18n} from 'vue-i18n';

interface itemsList {
  length: HTMLDListElement | Element | undefined;
  specialChar: HTMLDListElement | Element | undefined;
  uppercase: HTMLDListElement | Element | undefined;
  lowercase: HTMLDListElement | Element | undefined;
  number: HTMLDListElement | Element | undefined;
}

interface ComponentProps {
  formSubmitted: boolean;
  hasError: boolean;
  password: string;
}

export default defineComponent({
  name: 'Passwords',

  components: {TextField},

  props: {
    formSubmitted: {
      required: true,
      type: Boolean as PropType<boolean>,
      default: false,
    },
    hasError: {
      required: true,
      type: Boolean as PropType<boolean>,
      default: false,
    },
    password: {
      required: true,
      type: String as PropType<string>,
    },
  },

  setup(props: ComponentProps, {emit}: SetupContext) {
    const {formSubmitted} = toRefs(props)
    const {t} = useI18n()
    const errorMessages = ref<{ p1: string, p2: string }>({p1: '', p2: ''})

    const passwords = ref<{ p1: string, p2: string }>({p1: '', p2: ''})

    const passwordsIsVisible = ref<{ p1: boolean, p2: boolean }>({p1: false, p2: false})

    const passwordInformation = ref<HTMLDivElement | undefined>(undefined)
    const passwordInformationLength = ref<HTMLDivElement | undefined>(undefined)
    const passwordInformationSpecialChar = ref<HTMLDivElement | undefined>(undefined)
    const passwordInformationUppercase = ref<HTMLDivElement | undefined>(undefined)
    const passwordInformationLowercase = ref<HTMLDivElement | undefined>(undefined)
    const passwordInformationNumber = ref<HTMLDivElement | undefined>(undefined)

    const elementsList = ref<itemsList>({
      length: undefined,
      specialChar: undefined,
      uppercase: undefined,
      lowercase: undefined,
      number: undefined,
    })

    const passwordLength = computed<boolean>((): boolean => passwords.value.p1.length >= 8)
    const passwordHasSpecialChars = computed<boolean>((): boolean => /[-_*!?()]+/.test(passwords.value.p1))
    const passwordHasUppercase = computed<boolean>((): boolean => /[A-Z]+/.test(passwords.value.p1))
    const passwordHasLowercase = computed<boolean>((): boolean => /[a-z]+/.test(passwords.value.p1))
    const passwordHasNumber = computed<boolean>((): boolean => /[0-9]+/.test(passwords.value.p1))

    const password1HasError = computed<boolean>(() => {
      if (!formSubmitted.value) return false

      if (passwords.value.p1 === '') {
        errorMessages.value.p1 = t('security.signup.components.password.errors.required')
        return true
      }

      if (
          !passwordLength.value ||
          !passwordHasSpecialChars.value ||
          !passwordHasUppercase.value ||
          !passwordHasLowercase.value ||
          !passwordHasNumber.value
      ) {
        errorMessages.value.p1 = t('security.signup.components.password.errors.format')
        return true
      }

      errorMessages.value.p1 = ''
      return false
    })

    const password2HasError = computed<boolean>(() => {
      if (!formSubmitted.value) return false

      if (passwords.value.p2 === '') {
        errorMessages.value.p2 = t('security.signup.components.password.errors.required')
        return true
      }

      if (passwords.value.p1 !== passwords.value.p2) {
        errorMessages.value.p2 = t('security.signup.components.password.errors.equal')
        return true
      }

      errorMessages.value.p2 = ''
      return false
    })

    const passwordError = computed<boolean>(() => {
      return password1HasError.value || password2HasError.value
    })

    watch(passwordError, () => {
      emit('update:has-error', passwordError.value)
    })

    /**
     * On component mounted add all list in the object to use in the onUpdate function.
     */
    onMounted(() => {
      if (passwordInformationLength.value) {
        elementsList.value.length = passwordInformationLength.value
      }
      if (passwordInformationSpecialChar.value) {
        elementsList.value.specialChar = passwordInformationSpecialChar.value
      }
      if (passwordInformationUppercase.value) {
        elementsList.value.uppercase = passwordInformationUppercase.value
      }
      if (passwordInformationLowercase.value) {
        elementsList.value.lowercase = passwordInformationLowercase.value
      }
      if (passwordInformationNumber.value) {
        elementsList.value.number = passwordInformationNumber.value
      }
    })

    /**
     * If the password updated is the first password, check if all characters are on the password.
     * When user add a good character the corresponding line checked.
     *
     * If the password updated is the second password, check if the first password equal of the second password.
     *
     * @param {string} newValue
     * @param {'password1" | "password2'} passwordNumber
     */
    const onUpdate = (newValue: string, passwordNumber: 'password1' | 'password2'): void => {
      if (passwordNumber === 'password1') {
        passwords.value.p1 = newValue

        passwordLength.value
            ? elementsList.value.length?.classList.add('checked')
            : elementsList.value.length?.classList.remove('checked')
        passwordHasSpecialChars.value
            ? elementsList.value.specialChar?.classList.add('checked')
            : elementsList.value.specialChar?.classList.remove('checked')
        passwordHasUppercase.value
            ? elementsList.value.uppercase?.classList.add('checked')
            : elementsList.value.uppercase?.classList.remove('checked')
        passwordHasLowercase.value
            ? elementsList.value.lowercase?.classList.add('checked')
            : elementsList.value.lowercase?.classList.remove('checked')
        passwordHasNumber.value
            ? elementsList.value.number?.classList.add('checked')
            : elementsList.value.number?.classList.remove('checked')

        passwordInformation.value && password1HasError.value
            ? passwordInformation.value?.classList.remove('valid')
            : passwordInformation.value?.classList.add('valid')
      } else if (passwordNumber === 'password2') {
        passwords.value.p2 = newValue
      }

      emit(`update:password`, passwords.value.p1)
      emit('update:has-error', password1HasError.value || password2HasError.value)
    }

    return {
      errorMessages,
      passwords,
      passwordsIsVisible,
      password1HasError,
      password2HasError,
      passwordInformation,
      passwordInformationLength,
      passwordInformationSpecialChar,
      passwordInformationUppercase,
      passwordInformationLowercase,
      passwordInformationNumber,
      onUpdate,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "src/assets/style/colors";

#passwordsComponent {
  width: 100%;

  .passwordInformation {
    width: 100%;
    background-color: $greyError;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    transition: background-color ease-in-out 100ms;

    &.valid {
      transition: background-color ease-in-out 100ms;
      background-color: $greySuccess;
    }

    #passwordInformation + ul {
      li {
        margin-left: 20px;
        list-style: none;

        &:before {
          content: "✗";
          margin-right: 15px;
          color: $error;
        }

        &.checked:before {
          content: "✓";
          color: $secondaryDark;
        }
      }
    }
  }
}
</style>
