<template>
  <RadioGroup
      :label="$t('security.signup.components.ProductionType.label')"
      :items="items"
      :model-value="type"
      size="100%"
      name="productionType"
      @update:model-value="onUpdate($event, false)"
  />
  <TextField
      v-if="valueSelected"
      :model-value="peopleNumber"
      :label="$t('security.signup.components.ProductionType.textFieldLabel')"
      type="number"
      size="100%"
      id="productionTypePeopleNumber"
      @update:model-value="onUpdate($event, true)"
  />
</template>

<script lang="ts">
import {computed, defineComponent, onMounted, PropType, ref, SetupContext, toRefs, watch} from 'vue';
import TextField from '@/components/Core/TextField.vue';
import RadioGroup from '@/components/Core/RadioGroup.vue';
import {useI18n} from 'vue-i18n';
import {ProductionUser} from '#/Security';
import {InputItemFormat} from '#/index';

export default defineComponent({
  name: 'ProductionType',

  components: {RadioGroup, TextField},

  props: {
    productionType: {
      required: true,
      type: Object as PropType<ProductionUser>,
    },
  },

  setup(props: {productionType: ProductionUser}, {emit}: SetupContext) {
    const _i18n = useI18n()
    const {productionType} = toRefs(props)

    const items: InputItemFormat[] = [
      {
        text: _i18n.t('security.signup.components.ProductionType.items.home'),
        value: 'home',
      },
      {
        text: _i18n.t('security.signup.components.ProductionType.items.collectif'),
        value: 'collectif',
      },
    ]
    const type = ref<string>('')
    const peopleNumber = ref<number|null>(null)

    const valueSelected = computed(() => type.value !== '')

    const splitProps = () => {
      const {value, peopleNumber: peopleNumberProps} = productionType.value

      if (value) {
        type.value = value
      }

      if (peopleNumberProps) {
        peopleNumber.value = peopleNumberProps
      }
    }

    onMounted(splitProps)

    watch(productionType, splitProps)

    const onUpdate = (newValue: string, isPeopleNumber: boolean): void => {
      emit(
          'update:productionType',
          isPeopleNumber
              ? {value: type.value, peopleNumber: newValue === '' ? null : parseInt(newValue)}
              : {value: newValue, peopleNumber: peopleNumber.value}
      )
    }

    return {
      valueSelected,
      items,
      onUpdate,
      peopleNumber,
      type,
    }
  },
})
</script>
