<template>
  <RadioGroup
      :label="$t('security.signup.components.professionalJob.label')"
      :items="items"
      :model-value="status"
      :has-error="hasError"
      :error-message="$t('security.signup.components.professionalJob.errorMessage')"
      size="100%"
      name="professionalJob"
      @update:model-value="onUpdate($event, false)"
  />
  <TextField
      v-if="isProfessionalJob"
      :model-value="precision"
      :label="$t('security.signup.components.professionalJob.textFieldLabel')"
      size="100%"
      id="professionalJobPrecision"
      @update:model-value="onUpdate($event, true)"
  />
</template>

<script lang="ts">
import {computed, defineComponent, nextTick, PropType, ref, SetupContext, toRefs, watch} from 'vue';
import RadioGroup from '@/components/Core/RadioGroup.vue';
import TextField from '@/components/Core/TextField.vue';
import {useI18n} from 'vue-i18n';
import {InputItemFormat} from '#/index';

interface ComponentProps {
  formSubmitted: boolean;
  hasError: boolean;
  professionalJob: string;
}

export default defineComponent({
  name: 'ProductionActivity',

  components: {TextField, RadioGroup},

  props: {
    formSubmitted: {
      required: true,
      type: Boolean as PropType<boolean>,
    },
    hasError: {
      required: true,
      type: Boolean as PropType<boolean>,
    },
    professionalJob: {
      required: true,
      type: String as PropType<string>,
    },
  },

  setup(props: ComponentProps, {emit}: SetupContext) {
    const {formSubmitted, professionalJob} = toRefs(props)
    const _i18n = useI18n()
    const items: InputItemFormat[] = [
      {
        text: _i18n.t('security.signup.components.professionalJob.items.personal'),
        value: 'personal',
      },
      {
        text: _i18n.t('security.signup.components.professionalJob.items.professional'),
        value: 'professional',
      },
    ]

    const status = ref<string>('')
    const precision = ref<string>('')

    const isProfessionalJob = computed(() => status.value === 'professional')

    const errorCheck = () => {
      emit('update:has-error', formSubmitted.value && professionalJob.value === '')
    }

    watch(formSubmitted, errorCheck)

    const onUpdate = (newValue: string, isPrecision: boolean): void => {
      isPrecision ? precision.value = newValue : status.value = newValue

      emit('update:professionalJob', isPrecision ? `${status.value} - ${precision.value}` : status.value)

      nextTick(errorCheck)
    }

    return {
      isProfessionalJob,
      items,
      onUpdate,
      precision,
      status,
    }
  },
})
</script>
