<template>
  <div class="surface__container">
    <TextField
        :model-value="surfaceNumber"
        size="100%"
        id="surfaceNumber"
        label="Surface de mon terrain"
        type="number"
        @update:model-value="onUpdate($event, 'number')"
    />
    <SelectField
        :items="units"
        :model-value="surfaceUnit"
        size="100%"
        label="Unité"
        id="surfaceUnit"
        @update:model-value="onUpdate($event, 'unit')"
    />
  </div>
</template>

<script lang="ts">
import TextField from '@/components/Core/TextField.vue';
import {defineComponent, onMounted, PropType, ref, SetupContext, toRefs, watch} from 'vue';
import SelectField from '@/components/Core/SelectField.vue';
import {SurfaceUser} from '#/Security';
import {InputItemFormat} from '#/index';

export default defineComponent({
  name: 'Surface',

  components: {SelectField, TextField},

  props: {
    surface: {
      required: true,
      type: Object as PropType<SurfaceUser>,
    },
  },

  setup(props: { surface: SurfaceUser }, {emit}: SetupContext) {
    const {surface} = toRefs(props)
    const surfaceNumber = ref<number | null>(null)
    const surfaceUnit = ref<string>('')

    const units: InputItemFormat[] = [
      {text: 'm²', value: 'm²'},
      {text: 'ares', value: 'ares'},
      {text: 'hectares', value: 'hectares'},
    ]

    const splitSurface = (): void => {
      const {value, unit} = surface.value
      surfaceNumber.value = value || null
      surfaceUnit.value = unit || ''
    }

    onMounted(splitSurface)
    watch(surface, splitSurface)

    const onUpdate = (newValue: string, type: 'number' | 'unit'): void => {
      emit(
          'update:surface',
          type === 'unit'
              ? {value: surfaceNumber.value, unit: newValue}
              : {value: parseInt(newValue), unit: surfaceUnit.value},
      )
    }

    return {
      onUpdate,
      surfaceNumber,
      surfaceUnit,
      units,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "src/assets/style/sizes";

.surface__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  width: 100%;

  @media all and (min-width: $sm) {
    grid-template-columns: repeat(2, 1fr);
  }
}
</style>
