<template>
  <v-app>
    <router-view/>
  </v-app>
</template>

<script lang="ts">
import {defineComponent, onMounted} from 'vue';
import store from '@/store';

export default defineComponent({
  name: 'App',

  setup() {
    onMounted(() => {
      store.dispatch('loadJWT')
    })
  },
})
</script>

<style lang="scss">
@import "assets/style/font";
@import "assets/style/colors";

#app {
  font-family: $textFont, Avenir, Arial, sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: $titleFont, Helvetica, Arial, sans-serif;
  }

  p.isInformationForm {
    width: 100%;
    font-size: 15px;
    color: $info;
    height: 30px;
    margin-bottom: 15px;

    &.isError {
      color: $error;
    }
  }
}

.v-btn {
  &.bg-primary {
    background-color: rgb(var(--v-theme-primary));
  }
  &.bg-secondary {
    background-color: rgb(var(--v-theme-secondary));
  }
  &.bg-success {
    background-color: rgb(var(--v-theme-success));
  }
  &.bg-warning {
    background-color: rgb(var(--v-theme-warning));
  }
  &.bg-error {
    background-color: rgb(var(--v-theme-error));
  }
  &.bg-info {
    background-color: rgb(var(--v-theme-info));
  }
}

a:not(.v-btn) {
  color: $primary;

  &:visited {
    color: $primaryDark;
  }
}
</style>
